<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ElasticSearchCloudId" value="Extract_Experiments:dXMtY2VudHJhbDEuZ2NwLmNsb3VkLmVzLmlvOjQ0MyQ5N2RlOWVkMmQ0ZjU0ZDFhODk5YzM0MGIyZWQ3NzVmMyRhZmFjNDNjZjkyYWE0YzBiYWUyMWI3Mjg1MzEyZTU4Zg=="/>
		<add key="ElasticSearchAPIKey" value="TnFRUElZUUJBelhoVzlIQXFOMlo6VGpSS3AxLUdTMXktTkxidEppaWpxUQ=="/>

		<add key="ConfigurationWebPath" value="https://cloud.elastic.co/deployments/02e832ba97234d13a0ff9e502c5b86fc/edit"/>

		<!--These indices are the same because the test project should only use the test indices-->
		<add key="ElasticSearchEventsIndex" value="cory_test_event_mappings"/>
		<add key="ElasticSearchAlertsIndex" value="cory_test_alert_mappings"/>
		<add key="ElasticSearchEnvironmentInformationIndex" value="cory_test_environment_mappings"/>
		<add key="ElasticSearchEventsTestIndex" value="cory_test_event_mappings"/>
		<add key="ElasticSearchAlertsTestIndex" value="cory_test_alert_mappings"/>
		<add key="ElasticSearchEnvironmentInformationTestIndex" value="cory_test_environment_mappings"/>
	</appSettings>
</configuration>