<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Extract.FileActionManager.Database.LicensingContact" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Extract.FileActionManager.Database.LicensingContact>
            <setting name="SendAlertsToExtract" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendAlertsToSpecified" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecifiedAlertRecipients" serializeAs="String">
                <value/>
            </setting>
            <setting name="LicenseContactOrganization" serializeAs="String">
                <value/>
            </setting>
            <setting name="LicenseContactEmail" serializeAs="String">
                <value/>
            </setting>
            <setting name="LicenseContactPhone" serializeAs="String">
                <value/>
            </setting>
        </Extract.FileActionManager.Database.LicensingContact>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
