<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="QueueDepthMeasure" value="{&quot;TypeName&quot;: &quot;Extract.EnvironmentLog.QueueDepthMeasureV1&quot;,&quot;DataTransferObject&quot;: {&quot;DatabaseServer&quot;: &quot;(local)&quot;,&quot;DatabaseName&quot;: &quot;Demo_IDShield&quot;,&quot;Customer&quot;: &quot;Extract&quot;,&quot;Context&quot;: &quot;testQueueDepth&quot;,&quot;Entity&quot;: &quot;testQueueDepthEntity&quot;,&quot;MeasurementType&quot;: &quot;Queue Depth&quot;,&quot;MeasurementInterval&quot;: 20000,&quot;Enabled&quot;: true}}"/>
		<add key="ServiceMeasure" value="{&quot;TypeName&quot;: &quot;Extract.EnvironmentLog.ServiceMeasureV1&quot;,&quot;DataTransferObject&quot;: {&quot;Customer&quot;: &quot;testCustomer&quot;,&quot;Context&quot;: &quot;testContext&quot;,&quot;Entity&quot;: &quot;testEntity&quot;,&quot;MeasurementType&quot;: &quot;Running Services&quot;,&quot;MeasurementInterval&quot;: 20000,&quot;Enabled&quot;: true}}"/>
	</appSettings>
</configuration>