<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true">

	<extensions>
		<add assembly="Extract.ErrorHandling"/>
	</extensions>
	
	<targets async="true">
		<target xsi:type="ExtractElasticSearch" name="elasticLog"
			index="ethanenvlog"
			cloudId="Extract_Experiments:dXMtY2VudHJhbDEuZ2NwLmNsb3VkLmVzLmlvOjQ0MyQ5N2RlOWVkMmQ0ZjU0ZDFhODk5YzM0MGIyZWQ3NzVmMyRhZmFjNDNjZjkyYWE0YzBiYWUyMWI3Mjg1MzEyZTU4Zg=="
			apiKey="TnFRUElZUUJBelhoVzlIQXFOMlo6VGpSS3AxLUdTMXktTkxidEppaWpxUQ==" />

	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="elasticLog" />

	</rules>
</nlog>