<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Extract.Redaction.Verification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Extract.Redaction.Verification.Properties.Settings>
      <setting name="SlideshowInterval" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="AutoStartSlideshow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SlideshowRunKey" serializeAs="String">
        <value>LMenu</value>
      </setting>
      <setting name="AutoTool" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="AutoZoom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoZoomScale" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="OnDemandCreateVOAFileMode" serializeAs="String">
        <value>DoNotCreate</value>
      </setting>
      <setting name="AutoOcr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OcrTradeoff" serializeAs="String">
        <value>Balanced</value>
      </setting>
    </Extract.Redaction.Verification.Properties.Settings>
  </userSettings>
</configuration>
