Media/
*.suo
Release/
release/
Debug/
/debug
debug/
obj/
_isuser_0x0409.dll
*_i.c
*.user
*.aps
/Binaries/
Thumbs.db
*_p.c
Analysis - */
dlldata.c
*.cache
*.bak
*.orig
*.ism.*
*.vssscc
*.obs
*.map
*.filters
ProductDevelopment/AttributeFinder/AFConditions/Code/AFConditions.h
ProductDevelopment/AttributeFinder/AFConditions/Code/AFConditions.tlb
ProductDevelopment/AttributeFinder/AFCore/AFCoreTest/Code/AFCoreTest.h
ProductDevelopment/AttributeFinder/AFCore/AFCoreTest/Code/AFCoreTest.sdf
ProductDevelopment/AttributeFinder/AFCore/AFCoreTest/Code/AFCoreTest.tlb
ProductDevelopment/AttributeFinder/AFCore/Code/AFCore.h
ProductDevelopment/AttributeFinder/AFCore/Code/AFCore.tlb
ProductDevelopment/AttributeFinder/AFDataScorers/AFDataScorersTest/Code/AFDataScorersTest.h
ProductDevelopment/AttributeFinder/AFDataScorers/AFDataScorersTest/Code/AFDataScorersTest.tlb
ProductDevelopment/AttributeFinder/AFDataScorers/Code/AFDataScorers.h
ProductDevelopment/AttributeFinder/AFDataScorers/Code/AFDataScorers.tlb
ProductDevelopment/AttributeFinder/AFFileProcessors/Code/AFFileProcessors.h
ProductDevelopment/AttributeFinder/AFFileProcessors/Code/AFFileProcessors.tlb
ProductDevelopment/AttributeFinder/AFOutputHandlers/Code/AFOutputHandlers.h
ProductDevelopment/AttributeFinder/AFOutputHandlers/Code/AFOutputHandlers.tlb
ProductDevelopment/AttributeFinder/AFPreProcessors/Code/AFPreProcessors.h
ProductDevelopment/AttributeFinder/AFPreProcessors/Code/AFPreProcessors.tlb
ProductDevelopment/AttributeFinder/AFSelectors/Code/AFSelectors.h
ProductDevelopment/AttributeFinder/AFSelectors/Code/AFSelectors.tlb
ProductDevelopment/AttributeFinder/AFSplitters/AFSplittersTest/Code/AFSplittersTest.h
ProductDevelopment/AttributeFinder/AFSplitters/AFSplittersTest/Code/AFSplittersTest.tlb
ProductDevelopment/AttributeFinder/AFSplitters/Code/AFSplitters.h
ProductDevelopment/AttributeFinder/AFSplitters/Code/AFSplitters.tlb
ProductDevelopment/AttributeFinder/AFUtils/AFUtilsTest/Code/AFUtilsTest.h
ProductDevelopment/AttributeFinder/AFUtils/AFUtilsTest/Code/AFUtilsTest.tlb
ProductDevelopment/AttributeFinder/AFUtils/Code/AFUtils.h
ProductDevelopment/AttributeFinder/AFUtils/Code/AFUtils.tlb
ProductDevelopment/AttributeFinder/AFValueFinders/Code/AFValueFinders.h
ProductDevelopment/AttributeFinder/AFValueFinders/Code/AFValueFinders.tlb
ProductDevelopment/AttributeFinder/AFValueFinders/Test/AFValueFinderTest/Code/AFValueFinderTest.h
ProductDevelopment/AttributeFinder/AFValueFinders/Test/AFValueFinderTest/Code/AFValueFinderTest.tlb
ProductDevelopment/AttributeFinder/AFValueModifiers/Code/AFValueModifiers.h
ProductDevelopment/AttributeFinder/AFValueModifiers/Code/AFValueModifiers.tlb
ProductDevelopment/AttributeFinder/AttributeDbManager/Code/AttributeDBMgrComponents.h
ProductDevelopment/AttributeFinder/AttributeDbManager/Code/AttributeDBMgrComponents.tlb
Auto Save of*
ReusableComponents/BaseUtils/AutomatedTest/Code/BaseUtilsTest.h
ReusableComponents/BaseUtils/AutomatedTest/Code/BaseUtilsTest.tlb
ProductDevelopment/AttributeFinder/IndustrySpecific/County/CountyCustomComponents/Code/CountyCustomComponents.h
ProductDevelopment/AttributeFinder/IndustrySpecific/County/CountyCustomComponents/Code/CountyCustomComponents.tlb
ProductDevelopment/AttributeFinder/IndustrySpecific/County/CountyTester/Code/CountyTester.h
ProductDevelopment/AttributeFinder/IndustrySpecific/County/CountyTester/Code/CountyTester.tlb
ProductDevelopment/AttributeFinder/IndustrySpecific/DataEntry/DataEntryCustomComponents/Code/DataEntryCustomComponents.h
ProductDevelopment/AttributeFinder/IndustrySpecific/DataEntry/DataEntryCustomComponents/Code/DataEntryCustomComponents.tlb
ReusableComponents/COMComponents/ESImageCleanup/Code/ESImageCleanup.h
ReusableComponents/COMComponents/ESImageCleanup/Code/ESImageCleanup.tlb
ReusableComponents/COMComponents/ESPrintCapture/Core/Code/ESPrintCaptureCore.h
ReusableComponents/COMComponents/ESPrintCapture/Core/Code/ESPrintCaptureCore.tlb
ReusableComponents/COMComponents/ESPrintCapture/ESActMaskPCE/Code/ESActMaskPCE.h
ReusableComponents/COMComponents/ESPrintCapture/ESActMaskPCE/Code/ESActMaskPCE.tlb
ReusableComponents/COMComponents/UCLIDFileProcessing/ESFileSuppliers/Code/ESFileSuppliers.h
ReusableComponents/COMComponents/UCLIDFileProcessing/ESFileSuppliers/Code/ESFileSuppliers.tlb
ReusableComponents/COMComponents/UCLIDFileProcessing/ESSkipConditions/Code/ESSkipConditions.h
ReusableComponents/COMComponents/UCLIDFileProcessing/ESSkipConditions/Code/ESSkipConditions.tlb
ReusableComponents/COMComponents/UCLIDComponentsLM/COMLM/Code/COMLM.h
ReusableComponents/COMComponents/UCLIDComponentsLM/COMLM/Code/COMLM.tlb
RC.Net/Database/Core/Code/Extract.Database.tlb
RC.Net/FileActionManager/Database/Core/Code/Extract.FileActionManager.Database.tlb
*.inx
*.isr
/ProductDevelopment/Utils/UCLIDUtilApps/Code/Utils.sdf
/RC.Net/FileActionManager/Utilities/FAMFileInspector/ComLibrary/Core/Code/Extract.FileActionManager.FAMFileInspector.tlb
/RC.Net/Imaging/Core/Code/Extract.Imaging.tlb
/RC.Net/Interfaces/Core/Code/Extract.Interfaces.tlb
/ProductDevelopment/AttributeFinder/IndustrySpecific/LabResults/LabDECppCustomComponents/Code/LabDECppCustomComponents.h
/ProductDevelopment/AttributeFinder/IndustrySpecific/LabResults/LabDECppCustomComponents/Code/LabDECppCustomComponents.tlb
*.dbg
String1033.txt
/ReusableComponents/OcxAndDlls/UCLIDGenericDisplay2/Code/UCLIDGenericDisplay.tlb
/ReusableComponents/Scripts/VBScriptUtils/Code/VBScriptUtils.h
/ReusableComponents/VendorSpecificUtils/SafeNetUtils/AutomatedTest/Code/SafeNetUtilsTest.h
/ReusableComponents/VendorSpecificUtils/SafeNetUtils/AutomatedTest/Code/SafeNetUtilsTest.tlb
/ReusableComponents/InputFunnel/InputReceivers/SpotRecognitionIR/Test/SpotRecIRAutoTest/Code/SpotRecIRAutoTest.h
/ReusableComponents/InputFunnel/InputReceivers/SpotRecognitionIR/Test/SpotRecIRAutoTest/Code/SpotRecIRAutoTest.tlb
/ReusableComponents/InputFunnel/InputValidators/GeneralIV/Code/GeneralIV.h
/ReusableComponents/InputFunnel/InputValidators/GeneralIV/Code/GeneralIV.tlb
/ReusableComponents/InputFunnel/InputValidators/RegExprIV/Code/RegExprIV.h
/ReusableComponents/InputFunnel/InputValidators/RegExprIV/Code/RegExprIV.tlb
/ReusableComponents/OcxAndDlls/ImageEdit/Code/ImageEdit.tlb
/ReusableComponents/COMComponents/UCLIDRasterAndOCRMgmt/OCREngines/SSOCR/Code/SSOCR.h
/ReusableComponents/COMComponents/UCLIDRasterAndOCRMgmt/OCREngines/SSOCR/Code/SSOCR.tlb
/ReusableComponents/COMComponents/UCLIDRasterAndOCRMgmt/OCREngines/SSOCR2/Code/SSOCR2.h
/ReusableComponents/COMComponents/UCLIDRasterAndOCRMgmt/OCREngines/SSOCR2/Code/SSOCR2.tlb
/ReusableComponents/COMComponents/UCLIDTestingFramework/Core/Code/UCLIDTestingFrameworkCore.h
/ReusableComponents/COMComponents/UCLIDTestingFramework/Core/Code/UCLIDTestingFrameworkCore.tlb
/ReusableComponents/COMComponents/UCLIDTestingFramework/Interfaces/Code/UCLIDTestingFramework.h
/ReusableComponents/COMComponents/UCLIDTestingFramework/Interfaces/Code/UCLIDTestingFramework.tlb
/ReusableComponents/InputFunnel/IFCore/Code/IFCore.h
/ReusableComponents/InputFunnel/IFCore/Code/IFCore.tlb
/ReusableComponents/InputFunnel/InputReceivers/SpotRecognitionIR/Code/Core/SpotRecognitionIR.h
/ReusableComponents/InputFunnel/InputReceivers/SpotRecognitionIR/Code/Core/SpotRecognitionIR.tlb
/ReusableComponents/InputFunnel/InputReceivers/SpotRecognitionIR/Code/SubImageHandlers/Code/SubImageHandlers.h
/ReusableComponents/InputFunnel/InputReceivers/SpotRecognitionIR/Code/SubImageHandlers/Code/SubImageHandlers.tlb
/ReusableComponents/COMComponents/UCLIDFileProcessing/Utils/FAMProcess/Code/FAMProcess.h
/ReusableComponents/COMComponents/UCLIDImageUtils/Code/UCLIDImageUtils.h
/ReusableComponents/COMComponents/UCLIDImageUtils/Code/UCLIDImageUtils.tlb
/ReusableComponents/COMComponents/UCLIDRasterAndOCRMgmt/Core/Code/UCLIDRasterAndOCRMgmt.h
/ReusableComponents/COMComponents/UCLIDRasterAndOCRMgmt/Core/Code/UCLIDRasterAndOCRMgmt.tlb
/ReusableComponents/COMComponents/UCLIDRasterAndOCRMgmt/Core/Test/RasterZoneTester/Code/RasterZoneTester.h
/ReusableComponents/COMComponents/UCLIDRasterAndOCRMgmt/Core/Test/RasterZoneTester/Code/RasterZoneTester.tlb
/ReusableComponents/COMComponents/UCLIDRasterAndOCRMgmt/Core/Test/SpatialStringAutomatedTest/Code/SpatialStringAutomatedTest.h
/ReusableComponents/COMComponents/UCLIDRasterAndOCRMgmt/Core/Test/SpatialStringAutomatedTest/Code/SpatialStringAutomatedTest.tlb
/ReusableComponents/COMComponents/UCLIDRasterAndOCRMgmt/Core/Test/SpatialStringSearcherTest/code/SpatialStringSearcherTest.h
/ReusableComponents/COMComponents/UCLIDRasterAndOCRMgmt/Core/Test/SpatialStringSearcherTest/code/SpatialStringSearcherTest.tlb
/RC.Net/Licensing/Core/Code/LicenseIdName.h
/RC.Net/Licensing/Core/Code/MapLicenseIdsToComponentIds.h
/RC.Net/Redaction/CustomComponentsHelper/Core/Code/Extract.Redaction.CustomComponentsHelper.tlb
/RC.Net/Utilities/ContextTags/Core/Code/Extract.Utilities.ContextTags.tlb
/RC.Net/Utilities/Email/Core/Code/Extract.Utilities.Email.tlb
/ReusableComponents/BaseUtils/TestApps/TestEncryptFileMgr/TestEncryptFileMgr.h
/ReusableComponents/BaseUtils/TestApps/TestEncryptFileMgr/TestEncryptFileMgr.tlb
/ReusableComponents/COMComponents/UCLIDCOMUtils/Core/Code/UCLIDCOMUtils.h
/ReusableComponents/COMComponents/UCLIDCOMUtils/Core/Code/UCLIDCOMUtils.tlb
/ReusableComponents/COMComponents/UCLIDCOMUtils/Core/Test/StringPatternMatcherAutoTest/Code/StringPatternMatcherAutoTest.h
/ReusableComponents/COMComponents/UCLIDCOMUtils/Core/Test/StringPatternMatcherAutoTest/Code/StringPatternMatcherAutoTest.tlb
/ReusableComponents/COMComponents/UCLIDExceptionMgmt/Code/UCLIDExceptionMgmt.h
/ReusableComponents/COMComponents/UCLIDExceptionMgmt/Code/UCLIDExceptionMgmt.tlb
/ReusableComponents/COMComponents/UCLIDFileProcessing/Code/UCLIDFileProcessing.h
/ReusableComponents/COMComponents/UCLIDFileProcessing/Code/UCLIDFileProcessing.tlb
/ReusableComponents/COMComponents/UCLIDFileProcessing/FileProcessors/Code/FileProcessors.h
/ReusableComponents/COMComponents/UCLIDFileProcessing/FileProcessors/Code/FileProcessors.tlb
*.dsj
/ProductDevelopment/AttributeFinder/IndustrySpecific/Redaction/RedactionCustomComponents/Code/RedactionCustomComponents.h
/ProductDevelopment/AttributeFinder/IndustrySpecific/Redaction/RedactionCustomComponents/Code/RedactionCustomComponents.tlb
/ProductDevelopment/AttributeFinder/IndustrySpecific/Redaction/RedactionTester/Code/RedactionTester.h

ProductDevelopment/AttributeFinder/AFCore/AFCoreTest/Code/AFCoreTest.opensdf
/.project
/binaries64/
.vs/
.ionide

.fake
