[submodule "Rules"]
	path = Rules
	url = git@bitbucket.org:testextract/rules.git
[submodule "ReusableComponents/APIs"]
	path = ReusableComponents/APIs
	url = git@bitbucket.org:testextract/rcapis.git
[submodule "RC.Net/APIs"]
	path = RC.Net/APIs
	url = git@bitbucket.org:testextract/rcnetapis.git
