[submodule "Rules"]
	path = Rules
	url = \\\\extract.local\\Eng\\GitRepos\\Rules
[submodule "ReusableComponents/APIs"]
	path = ReusableComponents/APIs
	url = \\\\extract.local\\Eng\\GitRepos\\RCAPIs
[submodule "RC.Net/APIs"]
	path = RC.Net/APIs
	url = \\\\extract.local\\Eng\\GitRepos\\RCNetAPIs
