[submodule "Rules"]
	path = Rules
	url = M:\\GitRepos\\Rules
[submodule "ReusableComponents/APIs"]
	path = ReusableComponents/APIs
	url = M:\\GitRepos\\RCAPIs
[submodule "RC.Net/APIs"]
	path = RC.Net/APIs
	url = M:\\GitRepos\\RCNetAPIs
