group Main

source https://api.nuget.org/v3/index.json
storage: none
strategy: min

condition: NET48
framework: net48

# use msbuild auto-redirects instead of paket's
redirects: off

nuget Accord ~> 3.0.2
nuget Accord.MachineLearning ~> 3.0.2
nuget Accord.Neuro ~> 3.0.2
nuget Argu ~> 6.1.1
nuget BenchmarkDotNet.Diagnostics.Windows 0.13.1
nuget Bundle.Microsoft.Office.Interop ~> 15.0.4569
nuget CommandLineParser ~> 2.9.1
nuget DiffLib ~> 2017.7.26.1241
nuget Elastic.Clients.Elasticsearch = 8.0.2
nuget Elastic.Transport = 0.4.3
nuget Elmish.WPF ~> 3.5.8
nuget FSharp.Compiler.Service ~> 42.7.101
nuget FSharp.Core = 7.0.0
nuget FsPickler ~> 5.3.2
nuget GdPicture ~> 14.2.27
nuget Google.Cloud.Storage.V1
nuget Google.Cloud.Vision.V1 ~> 2.5.0
nuget Handlebars.Net ~> 2.1.2
nuget Lucene.Net.Facet ~> 4.8.0-beta00016
nuget Lucene.Net.QueryParser ~> 4.8.0-beta00016
nuget MahApps.Metro ~> 2.4.4
nuget Microsoft.AspNetCore.Authentication.Cookies ~> 2.1.0
nuget Microsoft.AspNetCore.Authentication.JwtBearer ~> 2.1.0
nuget Microsoft.AspNetCore.Mvc ~> 2.1.0
nuget Microsoft.AspNetCore.Mvc.Versioning ~> 2.1.0
nuget Microsoft.AspNetCore.Routing ~> 2.1.0
nuget Microsoft.AspNetCore.Server.IISIntegration ~> 2.1.0
nuget Microsoft.AspNetCore.Server.Kestrel ~> 2.1.0
nuget Microsoft.Bcl.AsyncInterfaces ~> 6.0.0
nuget Microsoft.CodeAnalysis.FxCopAnalyzers ~> 2.9
nuget Microsoft.CodeAnalysis.NetAnalyzers ~> 5.0
nuget Microsoft.Data.ConnectionUI ~> 16.10
nuget Microsoft.Extensions.Configuration.Json ~> 2.1.0
nuget Microsoft.Extensions.DependencyInjection.Abstractions ~> 6.0.0
nuget Microsoft.Extensions.Http ~> 2.1.0
nuget Microsoft.Extensions.Logging.Console ~> 2.1.0
nuget Microsoft.Extensions.Logging.Debug ~> 2.1.0
nuget Microsoft.Extensions.PlatformAbstractions
nuget Microsoft.Graph ~> 4.47
nuget Microsoft.IdentityModel.Abstractions ~> 6.25
nuget Microsoft.ML ~> 2.0
nuget Microsoft.ML.AutoML ~> 0.20
nuget Microsoft.Net.Http ~> 2.1
nuget Microsoft.VisualBasic ~> 10.3
nuget Microsoft.WindowsAPICodePack-Shell
nuget Microsoft.Xaml.Behaviors.Wpf
nuget MimeKitLite ~> 3.1
nuget ModernUI.WPF ~> 1.0
nuget Moq ~> 4.18
nuget MvvmLightLibs ~> 5.4
nuget NEST ~> 7.17
nuget NLog.Extensions.Logging ~> 5.0.4
nuget NLog.Targets.ElasticSearch ~> 7.6
nuget NLog.Targets.Splunk ~> 3.0
nuget NSwag.Annotations ~> 13.9
nuget NUnit ~> 3.13.3
nuget NUnit.ConsoleRunner ~> 3.15.2
nuget NUnit3TestAdapter ~> 4.3.0 copy_local:true
nuget Newtonsoft.Json = 13.0.1
nuget PDFsharp ~> 1.50
nuget Polly ~> 7.2
nuget ReactiveUI ~> 18.4.1
nuget ReactiveUI.Fody ~> 18.3
nuget ReactiveUI.Validation ~> 3.0
nuget ReactiveUI.Wpf ~> 18.3
nuget Swashbuckle.AspNetCore
nuget Swashbuckle.AspNetCore.Newtonsoft
nuget Swashbuckle.AspNetCore.SwaggerGen ~> 5.0
nuget Swashbuckle.AspNetCore.SwaggerUI ~> 5.0
nuget System.Net.Http ~> 4.3
nuget System.Reactive.Linq ~> 5.0
nuget System.Security.Principal.Windows ~> 5.0
nuget System.Text.Json ~> 6.0
nuget Unquote ~> 6.1
nuget YamlDotNet ~> 6.1
nuget linq2db.SQLite ~> 4.3
nuget murmurhash-signed ~> 1.0
nuget protobuf-net ~> 2.4


group netstandard2.0

source https://api.nuget.org/v3/index.json
storage: none
strategy: min

condition: NETSTANDARD2_0
framework: netstandard2.0

nuget FSharp.Core = 7.0.0
nuget FsPickler ~> 5.3.2
nuget Newtonsoft.Json = 13.0.1
nuget StrongNamer ~> 0.2.5 copy_local:true


group net6.0

source https://api.nuget.org/v3/index.json
storage: none
strategy: min

condition: NET6_0
framework: net6.0, net6.0-windows

# use msbuild auto-redirects instead of paket's
redirects: off

nuget Avalonia ~> 0.10.18
nuget Avalonia.Controls.DataGrid ~> 0.10.18
nuget Avalonia.Controls.TreeDataGrid ~> 0.10.10
nuget Avalonia.Desktop ~> 0.10.18
nuget Avalonia.ReactiveUI ~> 0.10.18
nuget BenchmarkDotNet.Diagnostics.Windows 0.13.5
nuget Elastic.Clients.Elasticsearch = 8.0.2
nuget Elastic.Transport = 0.4.3
nuget Handlebars.Net ~> 2.1.2
nuget Lucene.Net.QueryParser ~> 4.8.0-beta00016
nuget MessageBox.Avalonia ~> 2.1.0
nuget Moq ~> 4.18.2
nuget NEST ~> 7.17
nuget NLog.Extensions.Logging ~> 5.0.4
nuget NLog.Targets.ElasticSearch ~> 7.6
nuget NLog.Targets.Splunk ~> 3.0.0
nuget NUnit ~> 3.13.3
nuget NUnit3TestAdapter ~> 4.3.0 copy_local:true
nuget Newtonsoft.Json = 13.0.1
nuget ReactiveUI ~> 18.4.1
nuget ReactiveUI.Fody ~> 18.3
nuget ReactiveUI.Validation ~> 3.0
nuget StrongNamer ~> 0.2.5 copy_local:true
nuget System.Text.Json ~> 6.0
nuget linq2db.SQLite ~> 4.3.0
