<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Extract.DataEntry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="objectSettings"/>
  </configSections>
  <applicationSettings>
    <Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
      <setting name="ApplicationResourceFile" serializeAs="String">
        <value>&lt;CommonComponentsDir&gt;\DataEntryApplication.LabDE.resources</value>
      </setting>
    </Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
    <Extract.DataEntry.Properties.Settings>
      <setting name="DataEntryPanelFileName" serializeAs="String">
        <value>Bin\Demo_Pagination_FullDEP.dll</value>
      </setting>
      <setting name="HighlightConfidenceBoundary" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DisabledControls" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SkipValidationIfDocTaggedAs" serializeAs="String">
        <value>User_IgnoreDocument;User_NonLabDocument;User_MultiplePatients</value>
      </setting>
    </Extract.DataEntry.Properties.Settings>
  </applicationSettings>
  <databaseConnections>
    <DatabaseConnection name="OrderMappingDB" default="True">
      <DatabaseType>System.Data.SqlServerCe.SqlCeConnection, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91</DatabaseType>
      <LocalDataSource>Database Files\OrderMappingDB.sdf</LocalDataSource>
    </DatabaseConnection>
    <DatabaseConnection name="URSDB">
      <DatabaseType>System.Data.SqlServerCe.SqlCeConnection, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91</DatabaseType>
      <LocalDataSource>&lt;ComponentDataDir&gt;\LabDE\TestResults\OrderMapper\OrderMappingDB.sdf</LocalDataSource>
    </DatabaseConnection>
    <DatabaseConnection name="FAMDB">
      <DatabaseType>System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</DatabaseType>
      <DatabaseConnectionString XML="false">Data Source=&lt;DatabaseServer&gt;;Initial Catalog=&lt;DatabaseName&gt;;Integrated Security=True</DatabaseConnectionString>
    </DatabaseConnection>
  </databaseConnections>
  <objectSettings>
    <Extract.DataEntry.DEP.Demo_LabDE.Demo_LabDEPanel>
      <Member name="_LoadTimeTextBox">
        <Property name="AutoUpdateQuery">[BLANK]</Property>
      </Member>
    </Extract.DataEntry.DEP.Demo_LabDE.Demo_LabDEPanel>
  </objectSettings>
</configuration>