/*
This script was created by Visual Studio on 8/28/2021 at 2:30 PM.
Run this script on VOYAGER.Demo_HIM_New (EXTRACT\la_william_parr) to make it the same as VOYAGER.Demo_HIM (EXTRACT\la_william_parr).
This script performs its actions in the following order:
1. Disable foreign-key constraints.
2. Perform DELETE commands. 
3. Perform UPDATE commands.
4. Perform INSERT commands.
5. Re-enable foreign-key constraints.
Please back up your target database before running this script.

SET NUMERIC_ROUNDABORT OFF
GO
SET XACT_ABORT, ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
*/
/*Pointer used for text / image updates. This might not be needed, but is declared here just in case*/
DECLARE @pv binary(16)
BEGIN TRANSACTION
ALTER TABLE [dbo].[WorkflowChange] DROP CONSTRAINT [FK_WorkflowChange_WorkflowDest]
ALTER TABLE [dbo].[ActionStatisticsDelta] DROP CONSTRAINT [FK_ActionStatisticsDelta_Action]
ALTER TABLE [dbo].[WorkflowChangeFile] DROP CONSTRAINT [FK_WorkflowChangeFile_FAMFile]
ALTER TABLE [dbo].[WorkflowChangeFile] DROP CONSTRAINT [FK_WorkflowChangeFile_WorkflowChange]
ALTER TABLE [Security].[GroupReport] DROP CONSTRAINT [FK_GroupReport_Group_ID]
ALTER TABLE [dbo].[ActionStatistics] DROP CONSTRAINT [FK_Statistics_Action]
ALTER TABLE [Security].[LoginGroupMembership] DROP CONSTRAINT [FK_LoginGroupMembership_Group_ID]
ALTER TABLE [Security].[LoginGroupMembership] DROP CONSTRAINT [FK_LoginGroupMembership_LOGIN_ID]
ALTER TABLE [dbo].[FileHandler] DROP CONSTRAINT [FK_FileHandler_Workflow]
ALTER TABLE [dbo].[WorkItemGroup] DROP CONSTRAINT [FK_WorkItemGroup_Action]
ALTER TABLE [dbo].[WorkItemGroup] DROP CONSTRAINT [FK_WorkItemGroup_FAMFile]
ALTER TABLE [dbo].[WorkItemGroup] DROP CONSTRAINT [FK_WorkItemGroup_FAMSession]
ALTER TABLE [dbo].[DBInfoChangeHistory] DROP CONSTRAINT [FK_DBInfoChangeHistory_User]
ALTER TABLE [dbo].[DBInfoChangeHistory] DROP CONSTRAINT [FK_DBInfoChangeHistory_Machine]
ALTER TABLE [dbo].[DBInfoChangeHistory] DROP CONSTRAINT [FK_DBInfoChageHistory_DBInfo]
ALTER TABLE [dbo].[WorkItem] DROP CONSTRAINT [FK_WorkItem_WorkItemGroup]
ALTER TABLE [dbo].[WorkItem] DROP CONSTRAINT [FK_WorkItem_FAMSession]
ALTER TABLE [Security].[GroupAction] DROP CONSTRAINT [FK_GroupAction_Group_ID]
ALTER TABLE [Security].[GroupAction] DROP CONSTRAINT [FK_GroupAction_Action_ID]
ALTER TABLE [dbo].[FTPEventHistory] DROP CONSTRAINT [FK_FTPEventHistory_FTPAccount]
ALTER TABLE [dbo].[FTPEventHistory] DROP CONSTRAINT [FK_FTPEventHistory_FAMFile]
ALTER TABLE [dbo].[FTPEventHistory] DROP CONSTRAINT [FK_FTPEventHistory_Action]
ALTER TABLE [dbo].[FTPEventHistory] DROP CONSTRAINT [FK_FTPEventHistory_Machine]
ALTER TABLE [dbo].[FTPEventHistory] DROP CONSTRAINT [FK_FTPEventHistory_FAMUser]
ALTER TABLE [dbo].[IDShieldData] DROP CONSTRAINT [FK_IDShieldData_FileTaskSession]
ALTER TABLE [dbo].[FileMetadataFieldValue] DROP CONSTRAINT [FK_FileMetadataFieldValue_FAMFile]
ALTER TABLE [dbo].[FileMetadataFieldValue] DROP CONSTRAINT [FK_FileMetadataFieldValue_MetadataField]
ALTER TABLE [dbo].[FileTag] DROP CONSTRAINT [FK_FileTag_FamFile]
ALTER TABLE [dbo].[FileTag] DROP CONSTRAINT [FK_FileTag_Tag]
ALTER TABLE [dbo].[ReportingRedactionAccuracy] DROP CONSTRAINT [FK_ReportingRedactionAccuracy_AttributeSetForFile_Expected]
ALTER TABLE [dbo].[ReportingRedactionAccuracy] DROP CONSTRAINT [FK_ReportingRedactionAccuracy_AttributeSetForFile_Found]
ALTER TABLE [dbo].[ReportingRedactionAccuracy] DROP CONSTRAINT [FK_ReportingRedactionAccuracy_FAMFile]
ALTER TABLE [dbo].[ReportingRedactionAccuracy] DROP CONSTRAINT [FK_ReportingRedactionAccuracy_DatabaseService]
ALTER TABLE [dbo].[ReportingRedactionAccuracy] DROP CONSTRAINT [FK_ReportingRedactionAccuracy_FAMUser_Found]
ALTER TABLE [dbo].[ReportingRedactionAccuracy] DROP CONSTRAINT [FK_ReportingRedactionAccuracy_FAMUser_Expected]
ALTER TABLE [dbo].[ReportingRedactionAccuracy] DROP CONSTRAINT [FK_ReportingRedactionAccuracy_Action_Found]
ALTER TABLE [dbo].[ReportingRedactionAccuracy] DROP CONSTRAINT [FK_ReportingRedactionAccuracy_Action_Expected]
ALTER TABLE [dbo].[LabDEEncounterFile] DROP CONSTRAINT [FK_EncounterFile_EncounterID]
ALTER TABLE [dbo].[LabDEEncounterFile] DROP CONSTRAINT [FK_EncounterFile_FAMFile]
ALTER TABLE [dbo].[FileTaskSessionCache] DROP CONSTRAINT [FK_FileTaskSessionCache_ActiveFAM]
ALTER TABLE [dbo].[ActiveFAM] DROP CONSTRAINT [FK_ActiveFAM_FAMSession]
ALTER TABLE [Security].[GroupRole] DROP CONSTRAINT [FK_GroupRole_Role_ID]
ALTER TABLE [Security].[GroupRole] DROP CONSTRAINT [FK_GroupRole_Group_ID]
ALTER TABLE [dbo].[LabDEOrderFile] DROP CONSTRAINT [FK_OrderFile_Order]
ALTER TABLE [dbo].[LabDEOrderFile] DROP CONSTRAINT [FK_OrderFile_FAMFile]
ALTER TABLE [dbo].[FAMSession] DROP CONSTRAINT [FK_FAMSession_Action]
ALTER TABLE [dbo].[FAMSession] DROP CONSTRAINT [FK_FAMSession_Machine]
ALTER TABLE [dbo].[FAMSession] DROP CONSTRAINT [FK_FAMSession_User]
ALTER TABLE [dbo].[FAMSession] DROP CONSTRAINT [FK_FAMSession_FPSFile]
ALTER TABLE [dbo].[SecureCounterValueChange] DROP CONSTRAINT [FK_SecureCounterValueChange_FAMSession]
ALTER TABLE [dbo].[SecureCounterValueChange] DROP CONSTRAINT [FK_SecureCounterValueChange_SecureCounter]
ALTER TABLE [dbo].[QueueEvent] DROP CONSTRAINT [FK_QueueEvent_File]
ALTER TABLE [dbo].[QueueEvent] DROP CONSTRAINT [FK_QueueEvent_QueueEventCode]
ALTER TABLE [dbo].[QueueEvent] DROP CONSTRAINT [FK_QueueEvent_Machine]
ALTER TABLE [dbo].[QueueEvent] DROP CONSTRAINT [FK_QueueEvent_FAMUser]
ALTER TABLE [dbo].[QueueEvent] DROP CONSTRAINT [FK_QueueEvent_Action]
ALTER TABLE [dbo].[MLData] DROP CONSTRAINT [FK_MLData_FAMFile]
ALTER TABLE [dbo].[MLData] DROP CONSTRAINT [FK_MLData_MLModel]
ALTER TABLE [dbo].[InputEvent] DROP CONSTRAINT [FK_InputEvent_Action]
ALTER TABLE [dbo].[InputEvent] DROP CONSTRAINT [FK_InputEvent_Machine]
ALTER TABLE [dbo].[InputEvent] DROP CONSTRAINT [FK_InputEvent_User]
ALTER TABLE [dbo].[AttributeInstanceType] DROP CONSTRAINT [FK_Attribute_Instance_Type_AttributeID]
ALTER TABLE [dbo].[AttributeInstanceType] DROP CONSTRAINT [FK_Attribute_Instance_Type_AttributeTypeID]
ALTER TABLE [dbo].[Pagination] DROP CONSTRAINT [FK_Pagination_SourceFile_FAMFile]
ALTER TABLE [dbo].[Pagination] DROP CONSTRAINT [FK_Pagination_DestFile_FAMFile]
ALTER TABLE [dbo].[Pagination] DROP CONSTRAINT [FK_Pagination_OriginalFile_FAMFile]
ALTER TABLE [dbo].[Pagination] DROP CONSTRAINT [FK_Pagination_FileTaskSession]
ALTER TABLE [dbo].[QueuedActionStatusChange] DROP CONSTRAINT [FK_QueuedActionStatusChange_FAMFile]
ALTER TABLE [dbo].[QueuedActionStatusChange] DROP CONSTRAINT [FK_QueuedActionStatusChange_Action]
ALTER TABLE [dbo].[QueuedActionStatusChange] DROP CONSTRAINT [FK_QueuedActionStatusChange_Machine]
ALTER TABLE [dbo].[QueuedActionStatusChange] DROP CONSTRAINT [FK_QueuedActionStatusChange_FAMUser]
ALTER TABLE [dbo].[QueuedActionStatusChange] DROP CONSTRAINT [FK_QueuedActionStatusChange_FAMSession]
ALTER TABLE [dbo].[LockedFile] DROP CONSTRAINT [FK_LockedFile_Action]
ALTER TABLE [dbo].[LockedFile] DROP CONSTRAINT [FK_LockedFile_ActionState]
ALTER TABLE [dbo].[LockedFile] DROP CONSTRAINT [FK_LockedFile_FAMFile]
ALTER TABLE [dbo].[LockedFile] DROP CONSTRAINT [FK_LockedFile_ActiveFAM]
ALTER TABLE [dbo].[WebAppConfig] DROP CONSTRAINT [FK_WebAppConfig_Workflow]
ALTER TABLE [dbo].[FileActionStateTransition] DROP CONSTRAINT [FK_FileActionStateTransition_Action]
ALTER TABLE [dbo].[FileActionStateTransition] DROP CONSTRAINT [FK_FileActionStateTransition_FAMFile]
ALTER TABLE [dbo].[FileActionStateTransition] DROP CONSTRAINT [FK_FileActionStateTransition_Machine]
ALTER TABLE [dbo].[FileActionStateTransition] DROP CONSTRAINT [FK_FileActionStateTransition_FAMUser]
ALTER TABLE [dbo].[FileActionStateTransition] DROP CONSTRAINT [FK_FileActionStateTransition_ActionState_To]
ALTER TABLE [dbo].[FileActionStateTransition] DROP CONSTRAINT [FK_FileActionStateTransition_ActionState_From]
ALTER TABLE [dbo].[FileActionStateTransition] DROP CONSTRAINT [FK_FileActionStateTransition_Queue]
ALTER TABLE [Security].[GroupDashboard] DROP CONSTRAINT [FK_GroupDashboard_Group_ID]
ALTER TABLE [Security].[GroupDashboard] DROP CONSTRAINT [FK_GroupDashboard_Dashboard_Guid]
ALTER TABLE [dbo].[Dashboard] DROP CONSTRAINT [FK_Dashboard_FAMUser]
ALTER TABLE [dbo].[FAMUser] DROP CONSTRAINT [FK_FAMUSER_LOGIN_ID]
ALTER TABLE [dbo].[LabDEEncounter] DROP CONSTRAINT [FK_Encounter_Patient]
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy] DROP CONSTRAINT [FK_ReportingDataCaptureAccuracy_AttributeSetForFile_Expected]
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy] DROP CONSTRAINT [FK_ReportingDataCaptureAccuracy_AttributeSetForFile_Found]
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy] DROP CONSTRAINT [FK_ReportingDataCaptureAccuracy_FAMFile]
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy] DROP CONSTRAINT [FK_ReportingDataCaptureAccuracy_DatabaseService]
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy] DROP CONSTRAINT [FK_ReportingDataCaptureAccuracy_FAMUser_Found]
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy] DROP CONSTRAINT [FK_ReportingDataCaptureAccuracy_FAMUser_Expected]
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy] DROP CONSTRAINT [FK_ReportingDataCaptureAccuracy_Action_Found]
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy] DROP CONSTRAINT [FK_ReportingDataCaptureAccuracy_Action_Expected]
ALTER TABLE [dbo].[LabDEOrder] DROP CONSTRAINT [FK_Order_Patient]
ALTER TABLE [dbo].[LabDEOrder] DROP CONSTRAINT [FK_Order_OrderStatus]
ALTER TABLE [dbo].[LabDEOrder] DROP CONSTRAINT [FK_Order_Encounter]
ALTER TABLE [dbo].[DocTagHistory] DROP CONSTRAINT [FK_DocTagHistory_FAMFile]
ALTER TABLE [dbo].[DocTagHistory] DROP CONSTRAINT [FK_DocTagHistory_Tag]
ALTER TABLE [dbo].[DocTagHistory] DROP CONSTRAINT [FK_DocTagHistory_FAMUser]
ALTER TABLE [dbo].[DocTagHistory] DROP CONSTRAINT [FK_DocTagHistory_Machine]
ALTER TABLE [dbo].[FileActionComment] DROP CONSTRAINT [FK_FileActionComment_Action]
ALTER TABLE [dbo].[FileActionComment] DROP CONSTRAINT [FK_FileActionComment_FAMFILE]
ALTER TABLE [dbo].[Action] DROP CONSTRAINT [FK_Action_Workflow]
ALTER TABLE [dbo].[FileTaskSession] DROP CONSTRAINT [FK_FileTaskSession_FAMSession]
ALTER TABLE [dbo].[FileTaskSession] DROP CONSTRAINT [FK_FileTaskSession_TaskClass]
ALTER TABLE [dbo].[FileTaskSession] DROP CONSTRAINT [FK_FileTaskSession_FAMFile]
ALTER TABLE [dbo].[RasterZone] DROP CONSTRAINT [FK_RasterZone_AttributeID]
ALTER TABLE [dbo].[Attribute] DROP CONSTRAINT [FK_Attribute_AttributeSetForFileID]
ALTER TABLE [dbo].[Attribute] DROP CONSTRAINT [FK_Attribute_AttributeNameID]
ALTER TABLE [dbo].[Attribute] DROP CONSTRAINT [FK_Attribute_ParentAttributeID]
ALTER TABLE [dbo].[ReportingHIMStats] DROP CONSTRAINT [FK_ReportingHIMStats_Pagination]
ALTER TABLE [dbo].[ReportingHIMStats] DROP CONSTRAINT [FK_ReportingHIMStats_FAMUser]
ALTER TABLE [dbo].[ReportingHIMStats] DROP CONSTRAINT [FK_ReportingHIMStats_FAMFile_SourceFile]
ALTER TABLE [dbo].[ReportingHIMStats] DROP CONSTRAINT [FK_ReportingHIMStats_FAMFile_DestFile]
ALTER TABLE [dbo].[ReportingHIMStats] DROP CONSTRAINT [FK_ReportingHIMStats_FAMFile_OriginalFile]
ALTER TABLE [dbo].[ReportingHIMStats] DROP CONSTRAINT [FK_ReportingHIMStats_FileTaskSession]
ALTER TABLE [dbo].[ReportingHIMStats] DROP CONSTRAINT [FK_ReportingHIMStats_ActionID]
ALTER TABLE [dbo].[FileActionStatus] DROP CONSTRAINT [FK_FileActionStatus_Action]
ALTER TABLE [dbo].[FileActionStatus] DROP CONSTRAINT [FK_FileActionStatus_FAMFile]
ALTER TABLE [dbo].[FileActionStatus] DROP CONSTRAINT [FK_FileActionStatus_ActionStatus]
ALTER TABLE [dbo].[DashboardAttributeFields] DROP CONSTRAINT [FK_DashboardAttributeFields_AttributeSetForFileID]
ALTER TABLE [dbo].[SourceDocChangeHistory] DROP CONSTRAINT [FK_SourceDocChangeHistory_FAMFile]
ALTER TABLE [dbo].[SourceDocChangeHistory] DROP CONSTRAINT [FK_SourceDocChangeHistory_User]
ALTER TABLE [dbo].[SourceDocChangeHistory] DROP CONSTRAINT [FK_SourceDocChangeHistory_Machine]
ALTER TABLE [dbo].[WorkflowFile] DROP CONSTRAINT [FK_WorkflowFile_File]
ALTER TABLE [dbo].[WorkflowFile] DROP CONSTRAINT [FK_WorkflowFile_Workflow]
ALTER TABLE [dbo].[Workflow] DROP CONSTRAINT [FK_Workflow_OutputAttributeSet]
ALTER TABLE [dbo].[Workflow] DROP CONSTRAINT [FK_Workflow_WorkflowType]
ALTER TABLE [dbo].[Workflow] DROP CONSTRAINT [FK_Workflow_StartAction]
ALTER TABLE [dbo].[Workflow] DROP CONSTRAINT [FK_Workflow_EndAction]
ALTER TABLE [dbo].[Workflow] DROP CONSTRAINT [FK_Workflow_PostWorkflowAction]
ALTER TABLE [dbo].[Workflow] DROP CONSTRAINT [FK_Workflow_EditAction]
ALTER TABLE [dbo].[Workflow] DROP CONSTRAINT [FK_Workflow_PostEditAction]
ALTER TABLE [dbo].[Workflow] DROP CONSTRAINT [FK_Workflow_OutputFileMetadataFieldID]
ALTER TABLE [dbo].[DatabaseService] DROP CONSTRAINT [FK_DatabaseService_Machine]
ALTER TABLE [dbo].[DatabaseService] DROP CONSTRAINT [FK_DatabaseService_ActiveFAM]
ALTER TABLE [dbo].[DatabaseService] DROP CONSTRAINT [FK_DatabaseService_Active_Machine]
ALTER TABLE [dbo].[LabDEPatientFile] DROP CONSTRAINT [FK_PatientFile_PatientMRN]
ALTER TABLE [dbo].[LabDEPatientFile] DROP CONSTRAINT [FK_PatientFile_FAMFile]
ALTER TABLE [dbo].[LabDEPatient] DROP CONSTRAINT [FK_PatientMergedInto]
ALTER TABLE [dbo].[LabDEPatient] DROP CONSTRAINT [FK_PatientCurrentMRN]
ALTER TABLE [dbo].[ReportingVerificationRates] DROP CONSTRAINT [FK_ReportingVerificationRates_FAMFile]
ALTER TABLE [dbo].[ReportingVerificationRates] DROP CONSTRAINT [FK_ReportingVerificationRates_DatabaseService]
ALTER TABLE [dbo].[ReportingVerificationRates] DROP CONSTRAINT [FK_ReportingVerificationRates_Action]
ALTER TABLE [dbo].[ReportingVerificationRates] DROP CONSTRAINT [FK_ReportingVerificationRates_TaskClass]
ALTER TABLE [dbo].[ReportingVerificationRates] DROP CONSTRAINT [FK_ReportingVerificationRates_FileTaskSession]
ALTER TABLE [Security].[GroupWorkflow] DROP CONSTRAINT [FK_GroupWorkflow_Group_ID]
ALTER TABLE [Security].[GroupWorkflow] DROP CONSTRAINT [FK_GroupWorkflow_WORKFLOW_ID]
ALTER TABLE [dbo].[AttributeSetForFile] DROP CONSTRAINT [FK_AttributeSetForFile_FileTaskSessionID]
ALTER TABLE [dbo].[AttributeSetForFile] DROP CONSTRAINT [FK_AttributeSetForFile_AttributeSetNameID]
DELETE FROM [dbo].[DBInfoChangeHistory] WHERE [ID]=1
DELETE FROM [dbo].[DBInfoChangeHistory] WHERE [ID]=2
DELETE FROM [dbo].[DBInfoChangeHistory] WHERE [ID]=3
DELETE FROM [dbo].[DBInfoChangeHistory] WHERE [ID]=4
DELETE FROM [dbo].[DBInfoChangeHistory] WHERE [ID]=5
UPDATE [dbo].[Login] SET [Guid]=N'25dbc3db-5b16-4963-bf65-e7f48b65f2ac' WHERE [ID]=1
UPDATE [dbo].[FAMUser] SET [UserName]=N'William_Parr', [FullUserName]=N'William Parr' WHERE [ID]=1
SET IDENTITY_INSERT [dbo].[AttributeSetName] ON
INSERT INTO [dbo].[AttributeSetName] ([ID], [Description], [Guid]) VALUES (5, N'Test', N'5d712da3-2e27-4a8c-ac9b-b40c85d24833')
INSERT INTO [dbo].[AttributeSetName] ([ID], [Description], [Guid]) VALUES (6, N'Found', N'c8e2bcaa-4915-4f27-9c90-a497f8440bdb')
INSERT INTO [dbo].[AttributeSetName] ([ID], [Description], [Guid]) VALUES (7, N'Expected', N'f61db2c9-be6c-4857-94ad-0d10d0a05a81')
SET IDENTITY_INSERT [dbo].[AttributeSetName] OFF
SET IDENTITY_INSERT [dbo].[Workflow] ON
INSERT INTO [dbo].[Workflow] ([ID], [Name], [WorkflowTypeCode], [Description], [StartActionID], [EndActionID], [PostWorkflowActionID], [DocumentFolder], [OutputAttributeSetID], [OutputFileMetadataFieldID], [OutputFilePathInitializationFunction], [LoadBalanceWeight], [EditActionID], [PostEditActionID], [Guid]) VALUES (4, N'Workflow1', N'U', N'', NULL, NULL, NULL, N'', NULL, NULL, N'', 1, NULL, NULL, N'62e1a637-177d-460f-b758-adbf2e1ef695')
INSERT INTO [dbo].[Workflow] ([ID], [Name], [WorkflowTypeCode], [Description], [StartActionID], [EndActionID], [PostWorkflowActionID], [DocumentFolder], [OutputAttributeSetID], [OutputFileMetadataFieldID], [OutputFilePathInitializationFunction], [LoadBalanceWeight], [EditActionID], [PostEditActionID], [Guid]) VALUES (5, N'BugTesting', N'U', N'', NULL, NULL, NULL, N'', NULL, NULL, N'', 1, NULL, NULL, N'925d2105-a0d3-426f-a986-d6b3d3d92578')
INSERT INTO [dbo].[Workflow] ([ID], [Name], [WorkflowTypeCode], [Description], [StartActionID], [EndActionID], [PostWorkflowActionID], [DocumentFolder], [OutputAttributeSetID], [OutputFileMetadataFieldID], [OutputFilePathInitializationFunction], [LoadBalanceWeight], [EditActionID], [PostEditActionID], [Guid]) VALUES (6, N'Thoth_HIM', N'E', N'', NULL, NULL, NULL, N'', NULL, NULL, N'', 1, NULL, NULL, N'c6af6699-abed-42ac-9a42-d9d4122461ac')
SET IDENTITY_INSERT [dbo].[Workflow] OFF
INSERT INTO [dbo].[WorkflowFile] ([WorkflowID], [FileID], [Invisible], [AddedDateTime]) VALUES (4, 1, 0, '20201223 12:35:23.343')
INSERT INTO [dbo].[WorkflowFile] ([WorkflowID], [FileID], [Invisible], [AddedDateTime]) VALUES (4, 2, 0, '20201223 12:35:24.197')
INSERT INTO [dbo].[WorkflowFile] ([WorkflowID], [FileID], [Invisible], [AddedDateTime]) VALUES (4, 3, 0, '20201223 12:38:34.233')
SET IDENTITY_INSERT [dbo].[FAMFile] ON
INSERT INTO [dbo].[FAMFile] ([ID], [FileName], [FileSize], [Pages], [Priority], [AddedDateTime]) VALUES (1, N'C:\Demo_HIM\Input\@FullPacket - Copy.pdf.tif', 654497, 18, 3, '20201223 12:35:23.340')
INSERT INTO [dbo].[FAMFile] ([ID], [FileName], [FileSize], [Pages], [Priority], [AddedDateTime]) VALUES (2, N'C:\Demo_HIM\Input\@FullPacket.pdf.tif', 654497, 18, 3, '20201223 12:35:24.193')
INSERT INTO [dbo].[FAMFile] ([ID], [FileName], [FileSize], [Pages], [Priority], [AddedDateTime]) VALUES (3, N'C:\Demo_HIM\Input\@FullPacket - Copy.pdf_1.tif', 0, 2, 3, '20201223 12:38:34.223')
SET IDENTITY_INSERT [dbo].[FAMFile] OFF
INSERT INTO [dbo].[FileActionStatus] ([ActionStatus], [Priority], [FileID], [ActionID]) VALUES (N'C', 3, 1, 68)
INSERT INTO [dbo].[FileActionStatus] ([ActionStatus], [Priority], [FileID], [ActionID]) VALUES (N'C', 3, 2, 68)
INSERT INTO [dbo].[FileActionStatus] ([ActionStatus], [Priority], [FileID], [ActionID]) VALUES (N'C', 3, 11, 68)
SET IDENTITY_INSERT [dbo].[FileTaskSession] ON
INSERT INTO [dbo].[FileTaskSession] ([ID], [FAMSessionID], [ActionID], [TaskClassID], [FileID], [DateTimeStamp], [Duration], [OverheadTime], [ActivityTime]) VALUES (1, 1, 68, 2, 1, '20201223 12:39:33.000', 245.956002, 3.2988, 213.601093)
INSERT INTO [dbo].[FileTaskSession] ([ID], [FAMSessionID], [ActionID], [TaskClassID], [FileID], [DateTimeStamp], [Duration], [OverheadTime], [ActivityTime]) VALUES (2, 2, 68, 2, 1, '20201223 12:47:49.203', 480.17841, 5.086975, 118.01569)
INSERT INTO [dbo].[FileTaskSession] ([ID], [FAMSessionID], [ActionID], [TaskClassID], [FileID], [DateTimeStamp], [Duration], [OverheadTime], [ActivityTime]) VALUES (3, 2, 68, 2, 2, '20201223 12:47:59.013', 9.455354, 1.431546, 0)
SET IDENTITY_INSERT [dbo].[FileTaskSession] OFF
SET IDENTITY_INSERT [dbo].[Action] ON
INSERT INTO [dbo].[Action] ([ID], [ASCName], [Description], [WorkflowID], [MainSequence], [Guid]) VALUES (40, N'A30_ReRunRules', NULL, NULL, NULL, N'44ef605a-d679-460f-ae7b-a0ce43eb9fc7')
INSERT INTO [dbo].[Action] ([ID], [ASCName], [Description], [WorkflowID], [MainSequence], [Guid]) VALUES (41, N'A40_Apply_Watermarks', NULL, NULL, NULL, N'e8da69cd-2149-46b0-8182-3065c4430665')
INSERT INTO [dbo].[Action] ([ID], [ASCName], [Description], [WorkflowID], [MainSequence], [Guid]) VALUES (42, N'A80_Cleanup', NULL, NULL, NULL, N'a3351668-5dcb-4a71-b609-2df39d004090')
SET IDENTITY_INSERT [dbo].[Action] OFF
SET IDENTITY_INSERT [dbo].[FAMUser] ON
INSERT INTO [dbo].[FAMUser] ([ID], [UserName], [FullUserName], [LoginID]) VALUES (2, N'la_william_parr', N'William Parr Local Admin', NULL)
SET IDENTITY_INSERT [dbo].[FAMUser] OFF
SET IDENTITY_INSERT [dbo].[FileActionStateTransition] ON
INSERT INTO [dbo].[FileActionStateTransition] ([ID], [FileID], [ActionID], [ASC_From], [ASC_To], [DateTimeStamp], [MachineID], [FAMUserID], [Exception], [Comment], [QueueID]) VALUES (1, 1, 68, N'P', N'R', '20201223 12:35:26.847', 1, 1, N'', N'', NULL)
INSERT INTO [dbo].[FileActionStateTransition] ([ID], [FileID], [ActionID], [ASC_From], [ASC_To], [DateTimeStamp], [MachineID], [FAMUserID], [Exception], [Comment], [QueueID]) VALUES (2, 3, 63, N'U', N'P', '20201223 12:38:34.740', 1, 1, NULL, NULL, NULL)
INSERT INTO [dbo].[FileActionStateTransition] ([ID], [FileID], [ActionID], [ASC_From], [ASC_To], [DateTimeStamp], [MachineID], [FAMUserID], [Exception], [Comment], [QueueID]) VALUES (3, 1, 68, N'R', N'P', '20201223 12:39:32.843', 1, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[FileActionStateTransition] OFF
SET IDENTITY_INSERT [dbo].[Pagination] ON
INSERT INTO [dbo].[Pagination] ([ID], [SourceFileID], [SourcePage], [DestFileID], [DestPage], [OriginalFileID], [OriginalPage], [FileTaskSessionID]) VALUES (1, 1, 17, 3, 1, 1, 17, 1)
INSERT INTO [dbo].[Pagination] ([ID], [SourceFileID], [SourcePage], [DestFileID], [DestPage], [OriginalFileID], [OriginalPage], [FileTaskSessionID]) VALUES (2, 1, 18, 3, 2, 1, 18, 1)
INSERT INTO [dbo].[Pagination] ([ID], [SourceFileID], [SourcePage], [DestFileID], [DestPage], [OriginalFileID], [OriginalPage], [FileTaskSessionID]) VALUES (3, 1, 1, NULL, NULL, 1, 1, 2)
SET IDENTITY_INSERT [dbo].[Pagination] OFF
SET IDENTITY_INSERT [dbo].[InputEvent] ON
INSERT INTO [dbo].[InputEvent] ([ID], [TimeStamp], [ActionID], [FAMUserID], [MachineID], [PID], [SecondsWithInputEvents]) VALUES (1, '20201223 12:35:00.000', 68, 1, 1, 42252, 6)
INSERT INTO [dbo].[InputEvent] ([ID], [TimeStamp], [ActionID], [FAMUserID], [MachineID], [PID], [SecondsWithInputEvents]) VALUES (2, '20201223 12:36:00.000', 68, 1, 1, 42252, 25)
INSERT INTO [dbo].[InputEvent] ([ID], [TimeStamp], [ActionID], [FAMUserID], [MachineID], [PID], [SecondsWithInputEvents]) VALUES (3, '20201223 12:37:00.000', 68, 1, 1, 42252, 35)
SET IDENTITY_INSERT [dbo].[InputEvent] OFF
SET IDENTITY_INSERT [dbo].[QueueEvent] ON
INSERT INTO [dbo].[QueueEvent] ([ID], [FileID], [ActionID], [DateTimeStamp], [QueueEventCode], [FileModifyTime], [FileSizeInBytes], [MachineID], [FAMUserID]) VALUES (1, 1, 68, '20201223 12:35:23.000', N'A', '20170504 17:16:28.000', 654497, 1, 1)
INSERT INTO [dbo].[QueueEvent] ([ID], [FileID], [ActionID], [DateTimeStamp], [QueueEventCode], [FileModifyTime], [FileSizeInBytes], [MachineID], [FAMUserID]) VALUES (2, 2, 68, '20201223 12:35:24.000', N'A', '20170504 17:16:28.000', 654497, 1, 1)
INSERT INTO [dbo].[QueueEvent] ([ID], [FileID], [ActionID], [DateTimeStamp], [QueueEventCode], [FileModifyTime], [FileSizeInBytes], [MachineID], [FAMUserID]) VALUES (3, 3, NULL, '20201223 12:38:34.000', N'P', NULL, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[QueueEvent] OFF
SET IDENTITY_INSERT [dbo].[FAMSession] ON
INSERT INTO [dbo].[FAMSession] ([ID], [MachineID], [FAMUserID], [UPI], [StartTime], [StopTime], [FPSFileID], [ActionID], [Queuing], [Processing]) VALUES (1, 1, 1, N'VOYAGER\ProcessFiles\42252\12232020\12:35:18', '20201223 12:35:23.220', '20201223 12:39:33.110', 1, 68, 1, 1)
INSERT INTO [dbo].[FAMSession] ([ID], [MachineID], [FAMUserID], [UPI], [StartTime], [StopTime], [FPSFileID], [ActionID], [Queuing], [Processing]) VALUES (2, 1, 1, N'VOYAGER\ProcessFiles\42252\12232020\12:35:18', '20201223 12:39:47.403', '20201223 12:47:59.110', 1, 68, 1, 1)
INSERT INTO [dbo].[FAMSession] ([ID], [MachineID], [FAMUserID], [UPI], [StartTime], [StopTime], [FPSFileID], [ActionID], [Queuing], [Processing]) VALUES (3, 1, 1, N'VOYAGER\ProcessFiles\42252\12232020\12:35:18', '20201223 12:50:41.397', '20201223 12:55:50.630', 1, 68, 1, 1)
SET IDENTITY_INSERT [dbo].[FAMSession] OFF
SET IDENTITY_INSERT [dbo].[MetadataField] ON
INSERT INTO [dbo].[MetadataField] ([ID], [Name], [Guid]) VALUES (10, N'PatientFirstName', N'47bfea48-d6b6-4876-865f-416f5ca4a3cb')
INSERT INTO [dbo].[MetadataField] ([ID], [Name], [Guid]) VALUES (11, N'PatientLastName', N'0bafcec5-d2db-4924-adca-d6054975a38f')
INSERT INTO [dbo].[MetadataField] ([ID], [Name], [Guid]) VALUES (12, N'PatientDOB', N'0970fc44-5162-4d7a-ad5e-147fc1044107')
SET IDENTITY_INSERT [dbo].[MetadataField] OFF
SET IDENTITY_INSERT [dbo].[Tag] ON
INSERT INTO [dbo].[Tag] ([ID], [TagName], [TagDescription], [Guid]) VALUES (3, N'Ignore', N'', N'7be08232-acac-4424-b0d7-751f11afb655')
INSERT INTO [dbo].[Tag] ([ID], [TagName], [TagDescription], [Guid]) VALUES (4, N'AutoPaginated', N'', N'408e51f7-d1ec-44f6-b06d-0b0573b0ddba')
SET IDENTITY_INSERT [dbo].[Tag] OFF
SET IDENTITY_INSERT [dbo].[FileHandler] ON
INSERT INTO [dbo].[FileHandler] ([ID], [Enabled], [AppName], [IconPath], [ApplicationPath], [Arguments], [AdminOnly], [AllowMultipleFiles], [SupportsErrorHandling], [Blocking], [WorkflowName], [Guid]) VALUES (1, 1, N'Verify Now - Akpinar', NULL, N'C:\Engineering\binaries\debug\RunFPSFile.exe', N'"C:\Demo_HIM\FPS\HurleyDEPs.fps" "<SourceDocName>" /process', 0, 0, 1, 1, N'Workflow1', N'7cb48ab7-bdb8-442c-a9e9-c53c2ff6b507')
SET IDENTITY_INSERT [dbo].[FileHandler] OFF
INSERT INTO [dbo].[ActionStatistics] ([ActionID], [Invisible], [LastUpdateTimeStamp], [NumDocuments], [NumDocumentsPending], [NumDocumentsComplete], [NumDocumentsFailed], [NumDocumentsSkipped], [NumPages], [NumPagesPending], [NumPagesComplete], [NumPagesFailed], [NumPagesSkipped], [NumBytes], [NumBytesPending], [NumBytesComplete], [NumBytesFailed], [NumBytesSkipped]) VALUES (40, 0, '20210828 13:57:18.457', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT INTO [dbo].[ActionStatistics] ([ActionID], [Invisible], [LastUpdateTimeStamp], [NumDocuments], [NumDocumentsPending], [NumDocumentsComplete], [NumDocumentsFailed], [NumDocumentsSkipped], [NumPages], [NumPagesPending], [NumPagesComplete], [NumPagesFailed], [NumPagesSkipped], [NumBytes], [NumBytesPending], [NumBytesComplete], [NumBytesFailed], [NumBytesSkipped]) VALUES (40, 1, '20210828 13:57:18.457', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT INTO [dbo].[ActionStatistics] ([ActionID], [Invisible], [LastUpdateTimeStamp], [NumDocuments], [NumDocumentsPending], [NumDocumentsComplete], [NumDocumentsFailed], [NumDocumentsSkipped], [NumPages], [NumPagesPending], [NumPagesComplete], [NumPagesFailed], [NumPagesSkipped], [NumBytes], [NumBytesPending], [NumBytesComplete], [NumBytesFailed], [NumBytesSkipped]) VALUES (41, 0, '20210828 13:57:18.457', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[FPSFile] ON
INSERT INTO [dbo].[FPSFile] ([ID], [FPSFileName]) VALUES (1, N'C:\PaginationTest\HurleyDEPs.fps')
INSERT INTO [dbo].[FPSFile] ([ID], [FPSFileName]) VALUES (2, N'<Admin>')
SET IDENTITY_INSERT [dbo].[FPSFile] OFF
INSERT INTO [dbo].[ReportingDatabaseMigrationWizard] ([ID], [Classification], [TableName], [Message], [DateTime], [Old_Value], [New_Value], [Command]) VALUES (N'01f1b21d-a1ac-4b2e-be3e-06810c89c3f8', N'Info', N'FAMUser', N'The FAMUser SYSTEM will be added to the database', '20201223 12:15:22.410', NULL, NULL, N'Insert')
INSERT INTO [dbo].[ReportingDatabaseMigrationWizard] ([ID], [Classification], [TableName], [Message], [DateTime], [Old_Value], [New_Value], [Command]) VALUES (N'0240f495-09e3-47c7-8272-378a60efc4ee', N'Warning', N'DatabaseService', N'The service Expand Attributes will be added to the database. Please be sure the configuration/schedule is appropriate for the new enviornment.', '20201223 12:15:22.537', NULL, NULL, N'Insert')
INSERT INTO [dbo].[ReportingDatabaseMigrationWizard] ([ID], [Classification], [TableName], [Message], [DateTime], [Old_Value], [New_Value], [Command]) VALUES (N'026e0e94-f2ac-43d8-8d71-bea68a31894e', N'Info', N'AttributeSetName', N'The Attribute Set Name Found will be added to the database', '20201223 12:15:21.877', NULL, NULL, N'Insert')
ALTER TABLE [dbo].[WorkflowChange]
    ADD CONSTRAINT [FK_WorkflowChange_WorkflowDest] FOREIGN KEY ([DestWorkflowID]) REFERENCES [dbo].[Workflow] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[ActionStatisticsDelta]
    ADD CONSTRAINT [FK_ActionStatisticsDelta_Action] FOREIGN KEY ([ActionID]) REFERENCES [dbo].[Action] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[WorkflowChangeFile]
    ADD CONSTRAINT [FK_WorkflowChangeFile_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[WorkflowChangeFile]
    ADD CONSTRAINT [FK_WorkflowChangeFile_WorkflowChange] FOREIGN KEY ([WorkflowChangeID]) REFERENCES [dbo].[WorkflowChange] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [Security].[GroupReport]
    ADD CONSTRAINT [FK_GroupReport_Group_ID] FOREIGN KEY ([GroupGUID]) REFERENCES [Security].[Group] ([GUID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[ActionStatistics]
    ADD CONSTRAINT [FK_Statistics_Action] FOREIGN KEY ([ActionID]) REFERENCES [dbo].[Action] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [Security].[LoginGroupMembership]
    ADD CONSTRAINT [FK_LoginGroupMembership_Group_ID] FOREIGN KEY ([GroupGUID]) REFERENCES [Security].[Group] ([GUID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [Security].[LoginGroupMembership]
    ADD CONSTRAINT [FK_LoginGroupMembership_LOGIN_ID] FOREIGN KEY ([LoginID]) REFERENCES [dbo].[Login] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileHandler]
    ADD CONSTRAINT [FK_FileHandler_Workflow] FOREIGN KEY ([WorkflowName]) REFERENCES [dbo].[Workflow] ([Name]) ON DELETE SET NULL ON UPDATE CASCADE
ALTER TABLE [dbo].[WorkItemGroup]
    ADD CONSTRAINT [FK_WorkItemGroup_Action] FOREIGN KEY ([ActionID]) REFERENCES [dbo].[Action] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[WorkItemGroup]
    ADD CONSTRAINT [FK_WorkItemGroup_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[WorkItemGroup]
    ADD CONSTRAINT [FK_WorkItemGroup_FAMSession] FOREIGN KEY ([FAMSessionID]) REFERENCES [dbo].[FAMSession] ([ID])
ALTER TABLE [dbo].[DBInfoChangeHistory]
    ADD CONSTRAINT [FK_DBInfoChangeHistory_User] FOREIGN KEY ([FAMUserID]) REFERENCES [dbo].[FAMUser] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[DBInfoChangeHistory]
    ADD CONSTRAINT [FK_DBInfoChangeHistory_Machine] FOREIGN KEY ([MachineID]) REFERENCES [dbo].[Machine] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[DBInfoChangeHistory]
    ADD CONSTRAINT [FK_DBInfoChageHistory_DBInfo] FOREIGN KEY ([DBInfoID]) REFERENCES [dbo].[DBInfo] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[WorkItem]
    ADD CONSTRAINT [FK_WorkItem_WorkItemGroup] FOREIGN KEY ([WorkItemGroupID]) REFERENCES [dbo].[WorkItemGroup] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[WorkItem]
    ADD CONSTRAINT [FK_WorkItem_FAMSession] FOREIGN KEY ([FAMSessionID]) REFERENCES [dbo].[FAMSession] ([ID])
ALTER TABLE [Security].[GroupAction]
    ADD CONSTRAINT [FK_GroupAction_Group_ID] FOREIGN KEY ([GroupGUID]) REFERENCES [Security].[Group] ([GUID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [Security].[GroupAction]
    ADD CONSTRAINT [FK_GroupAction_Action_ID] FOREIGN KEY ([ActionID]) REFERENCES [dbo].[Action] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FTPEventHistory]
    ADD CONSTRAINT [FK_FTPEventHistory_FTPAccount] FOREIGN KEY ([FTPAccountID]) REFERENCES [dbo].[FTPAccount] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FTPEventHistory]
    ADD CONSTRAINT [FK_FTPEventHistory_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FTPEventHistory]
    ADD CONSTRAINT [FK_FTPEventHistory_Action] FOREIGN KEY ([ActionID]) REFERENCES [dbo].[Action] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FTPEventHistory]
    ADD CONSTRAINT [FK_FTPEventHistory_Machine] FOREIGN KEY ([MachineID]) REFERENCES [dbo].[Machine] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FTPEventHistory]
    ADD CONSTRAINT [FK_FTPEventHistory_FAMUser] FOREIGN KEY ([FAMUserID]) REFERENCES [dbo].[FAMUser] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[IDShieldData]
    ADD CONSTRAINT [FK_IDShieldData_FileTaskSession] FOREIGN KEY ([FileTaskSessionID]) REFERENCES [dbo].[FileTaskSession] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileMetadataFieldValue]
    ADD CONSTRAINT [FK_FileMetadataFieldValue_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileMetadataFieldValue]
    ADD CONSTRAINT [FK_FileMetadataFieldValue_MetadataField] FOREIGN KEY ([MetadataFieldID]) REFERENCES [dbo].[MetadataField] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileTag]
    ADD CONSTRAINT [FK_FileTag_FamFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileTag]
    ADD CONSTRAINT [FK_FileTag_Tag] FOREIGN KEY ([TagID]) REFERENCES [dbo].[Tag] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[ReportingRedactionAccuracy]
    ADD CONSTRAINT [FK_ReportingRedactionAccuracy_AttributeSetForFile_Expected] FOREIGN KEY ([ExpectedAttributeSetForFileID]) REFERENCES [dbo].[AttributeSetForFile] ([ID])
ALTER TABLE [dbo].[ReportingRedactionAccuracy]
    ADD CONSTRAINT [FK_ReportingRedactionAccuracy_AttributeSetForFile_Found] FOREIGN KEY ([FoundAttributeSetForFileID]) REFERENCES [dbo].[AttributeSetForFile] ([ID])
ALTER TABLE [dbo].[ReportingRedactionAccuracy]
    ADD CONSTRAINT [FK_ReportingRedactionAccuracy_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[ReportingRedactionAccuracy]
    ADD CONSTRAINT [FK_ReportingRedactionAccuracy_DatabaseService] FOREIGN KEY ([DatabaseServiceID]) REFERENCES [dbo].[DatabaseService] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[ReportingRedactionAccuracy]
    WITH NOCHECK ADD CONSTRAINT [FK_ReportingRedactionAccuracy_FAMUser_Found] FOREIGN KEY ([FoundFAMUserID]) REFERENCES [dbo].[FAMUser] ([ID])
ALTER TABLE [dbo].[ReportingRedactionAccuracy]
    WITH NOCHECK ADD CONSTRAINT [FK_ReportingRedactionAccuracy_FAMUser_Expected] FOREIGN KEY ([ExpectedFAMUserID]) REFERENCES [dbo].[FAMUser] ([ID])
ALTER TABLE [dbo].[ReportingRedactionAccuracy]
    WITH NOCHECK ADD CONSTRAINT [FK_ReportingRedactionAccuracy_Action_Found] FOREIGN KEY ([FoundActionID]) REFERENCES [dbo].[Action] ([ID])
ALTER TABLE [dbo].[ReportingRedactionAccuracy]
    WITH NOCHECK ADD CONSTRAINT [FK_ReportingRedactionAccuracy_Action_Expected] FOREIGN KEY ([ExpectedActionID]) REFERENCES [dbo].[Action] ([ID])
ALTER TABLE [dbo].[LabDEEncounterFile]
    ADD CONSTRAINT [FK_EncounterFile_EncounterID] FOREIGN KEY ([EncounterID]) REFERENCES [dbo].[LabDEEncounter] ([CSN]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[LabDEEncounterFile]
    ADD CONSTRAINT [FK_EncounterFile_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileTaskSessionCache]
    ADD CONSTRAINT [FK_FileTaskSessionCache_ActiveFAM] FOREIGN KEY ([AutoDeleteWithActiveFAMID]) REFERENCES [dbo].[ActiveFAM] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[ActiveFAM]
    ADD CONSTRAINT [FK_ActiveFAM_FAMSession] FOREIGN KEY ([FAMSessionID]) REFERENCES [dbo].[FAMSession] ([ID])
ALTER TABLE [Security].[GroupRole]
    ADD CONSTRAINT [FK_GroupRole_Role_ID] FOREIGN KEY ([RoleGUID]) REFERENCES [Security].[Role] ([GUID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [Security].[GroupRole]
    ADD CONSTRAINT [FK_GroupRole_Group_ID] FOREIGN KEY ([GroupGUID]) REFERENCES [Security].[Group] ([GUID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[LabDEOrderFile]
    ADD CONSTRAINT [FK_OrderFile_Order] FOREIGN KEY ([OrderNumber]) REFERENCES [dbo].[LabDEOrder] ([OrderNumber]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[LabDEOrderFile]
    ADD CONSTRAINT [FK_OrderFile_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FAMSession]
    ADD CONSTRAINT [FK_FAMSession_Action] FOREIGN KEY ([ActionID]) REFERENCES [dbo].[Action] ([ID]) ON DELETE SET NULL ON UPDATE CASCADE
ALTER TABLE [dbo].[FAMSession]
    ADD CONSTRAINT [FK_FAMSession_Machine] FOREIGN KEY ([MachineID]) REFERENCES [dbo].[Machine] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FAMSession]
    ADD CONSTRAINT [FK_FAMSession_User] FOREIGN KEY ([FAMUserID]) REFERENCES [dbo].[FAMUser] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FAMSession]
    ADD CONSTRAINT [FK_FAMSession_FPSFile] FOREIGN KEY ([FPSFileID]) REFERENCES [dbo].[FPSFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[SecureCounterValueChange]
    WITH NOCHECK ADD CONSTRAINT [FK_SecureCounterValueChange_FAMSession] FOREIGN KEY ([LastUpdatedByFAMSessionID]) REFERENCES [dbo].[FAMSession] ([ID])
ALTER TABLE [dbo].[SecureCounterValueChange]
    ADD CONSTRAINT [FK_SecureCounterValueChange_SecureCounter] FOREIGN KEY ([CounterID]) REFERENCES [dbo].[SecureCounter] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[QueueEvent]
    ADD CONSTRAINT [FK_QueueEvent_File] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID])
ALTER TABLE [dbo].[QueueEvent]
    ADD CONSTRAINT [FK_QueueEvent_QueueEventCode] FOREIGN KEY ([QueueEventCode]) REFERENCES [dbo].[QueueEventCode] ([Code])
ALTER TABLE [dbo].[QueueEvent]
    ADD CONSTRAINT [FK_QueueEvent_Machine] FOREIGN KEY ([MachineID]) REFERENCES [dbo].[Machine] ([ID])
ALTER TABLE [dbo].[QueueEvent]
    ADD CONSTRAINT [FK_QueueEvent_FAMUser] FOREIGN KEY ([FAMUserID]) REFERENCES [dbo].[FAMUser] ([ID])
ALTER TABLE [dbo].[QueueEvent]
    ADD CONSTRAINT [FK_QueueEvent_Action] FOREIGN KEY ([ActionID]) REFERENCES [dbo].[Action] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[MLData]
    ADD CONSTRAINT [FK_MLData_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[MLData]
    ADD CONSTRAINT [FK_MLData_MLModel] FOREIGN KEY ([MLModelID]) REFERENCES [dbo].[MLModel] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[InputEvent]
    ADD CONSTRAINT [FK_InputEvent_Action] FOREIGN KEY ([ActionID]) REFERENCES [dbo].[Action] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[InputEvent]
    ADD CONSTRAINT [FK_InputEvent_Machine] FOREIGN KEY ([MachineID]) REFERENCES [dbo].[Machine] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[InputEvent]
    ADD CONSTRAINT [FK_InputEvent_User] FOREIGN KEY ([FAMUserID]) REFERENCES [dbo].[FAMUser] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[AttributeInstanceType]
    ADD CONSTRAINT [FK_Attribute_Instance_Type_AttributeID] FOREIGN KEY ([AttributeID]) REFERENCES [dbo].[Attribute] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[AttributeInstanceType]
    ADD CONSTRAINT [FK_Attribute_Instance_Type_AttributeTypeID] FOREIGN KEY ([AttributeTypeID]) REFERENCES [dbo].[AttributeType] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[Pagination]
    ADD CONSTRAINT [FK_Pagination_SourceFile_FAMFile] FOREIGN KEY ([SourceFileID]) REFERENCES [dbo].[FAMFile] ([ID])
ALTER TABLE [dbo].[Pagination]
    ADD CONSTRAINT [FK_Pagination_DestFile_FAMFile] FOREIGN KEY ([DestFileID]) REFERENCES [dbo].[FAMFile] ([ID])
ALTER TABLE [dbo].[Pagination]
    ADD CONSTRAINT [FK_Pagination_OriginalFile_FAMFile] FOREIGN KEY ([OriginalFileID]) REFERENCES [dbo].[FAMFile] ([ID])
ALTER TABLE [dbo].[Pagination]
    ADD CONSTRAINT [FK_Pagination_FileTaskSession] FOREIGN KEY ([FileTaskSessionID]) REFERENCES [dbo].[FileTaskSession] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[QueuedActionStatusChange]
    ADD CONSTRAINT [FK_QueuedActionStatusChange_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[QueuedActionStatusChange]
    ADD CONSTRAINT [FK_QueuedActionStatusChange_Action] FOREIGN KEY ([ActionID]) REFERENCES [dbo].[Action] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[QueuedActionStatusChange]
    ADD CONSTRAINT [FK_QueuedActionStatusChange_Machine] FOREIGN KEY ([MachineID]) REFERENCES [dbo].[Machine] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[QueuedActionStatusChange]
    ADD CONSTRAINT [FK_QueuedActionStatusChange_FAMUser] FOREIGN KEY ([FAMUserID]) REFERENCES [dbo].[FAMUser] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[QueuedActionStatusChange]
    ADD CONSTRAINT [FK_QueuedActionStatusChange_FAMSession] FOREIGN KEY ([FAMSessionID]) REFERENCES [dbo].[FAMSession] ([ID])
ALTER TABLE [dbo].[LockedFile]
    ADD CONSTRAINT [FK_LockedFile_Action] FOREIGN KEY ([ActionID]) REFERENCES [dbo].[Action] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[LockedFile]
    ADD CONSTRAINT [FK_LockedFile_ActionState] FOREIGN KEY ([StatusBeforeLock]) REFERENCES [dbo].[ActionState] ([Code]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[LockedFile]
    ADD CONSTRAINT [FK_LockedFile_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[LockedFile]
    ADD CONSTRAINT [FK_LockedFile_ActiveFAM] FOREIGN KEY ([ActiveFAMID]) REFERENCES [dbo].[ActiveFAM] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[WebAppConfig]
    ADD CONSTRAINT [FK_WebAppConfig_Workflow] FOREIGN KEY ([WorkflowID]) REFERENCES [dbo].[Workflow] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileActionStateTransition]
    ADD CONSTRAINT [FK_FileActionStateTransition_Action] FOREIGN KEY ([ActionID]) REFERENCES [dbo].[Action] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileActionStateTransition]
    ADD CONSTRAINT [FK_FileActionStateTransition_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileActionStateTransition]
    ADD CONSTRAINT [FK_FileActionStateTransition_Machine] FOREIGN KEY ([MachineID]) REFERENCES [dbo].[Machine] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileActionStateTransition]
    ADD CONSTRAINT [FK_FileActionStateTransition_FAMUser] FOREIGN KEY ([FAMUserID]) REFERENCES [dbo].[FAMUser] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileActionStateTransition]
    ADD CONSTRAINT [FK_FileActionStateTransition_ActionState_To] FOREIGN KEY ([ASC_To]) REFERENCES [dbo].[ActionState] ([Code])
ALTER TABLE [dbo].[FileActionStateTransition]
    ADD CONSTRAINT [FK_FileActionStateTransition_ActionState_From] FOREIGN KEY ([ASC_From]) REFERENCES [dbo].[ActionState] ([Code])
ALTER TABLE [dbo].[FileActionStateTransition]
    ADD CONSTRAINT [FK_FileActionStateTransition_Queue] FOREIGN KEY ([QueueID]) REFERENCES [dbo].[QueuedActionStatusChange] ([ID])
ALTER TABLE [Security].[GroupDashboard]
    ADD CONSTRAINT [FK_GroupDashboard_Group_ID] FOREIGN KEY ([GroupGUID]) REFERENCES [Security].[Group] ([GUID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [Security].[GroupDashboard]
    ADD CONSTRAINT [FK_GroupDashboard_Dashboard_Guid] FOREIGN KEY ([DashboardGUID]) REFERENCES [dbo].[Dashboard] ([Guid]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[Dashboard]
    ADD CONSTRAINT [FK_Dashboard_FAMUser] FOREIGN KEY ([FAMUserID]) REFERENCES [dbo].[FAMUser] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FAMUser]
    ADD CONSTRAINT [FK_FAMUSER_LOGIN_ID] FOREIGN KEY ([LoginID]) REFERENCES [dbo].[Login] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[LabDEEncounter]
    ADD CONSTRAINT [FK_Encounter_Patient] FOREIGN KEY ([PatientMRN]) REFERENCES [dbo].[LabDEPatient] ([MRN]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy]
    ADD CONSTRAINT [FK_ReportingDataCaptureAccuracy_AttributeSetForFile_Expected] FOREIGN KEY ([ExpectedAttributeSetForFileID]) REFERENCES [dbo].[AttributeSetForFile] ([ID])
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy]
    ADD CONSTRAINT [FK_ReportingDataCaptureAccuracy_AttributeSetForFile_Found] FOREIGN KEY ([FoundAttributeSetForFileID]) REFERENCES [dbo].[AttributeSetForFile] ([ID])
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy]
    ADD CONSTRAINT [FK_ReportingDataCaptureAccuracy_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy]
    ADD CONSTRAINT [FK_ReportingDataCaptureAccuracy_DatabaseService] FOREIGN KEY ([DatabaseServiceID]) REFERENCES [dbo].[DatabaseService] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy]
    WITH NOCHECK ADD CONSTRAINT [FK_ReportingDataCaptureAccuracy_FAMUser_Found] FOREIGN KEY ([FoundFAMUserID]) REFERENCES [dbo].[FAMUser] ([ID])
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy]
    WITH NOCHECK ADD CONSTRAINT [FK_ReportingDataCaptureAccuracy_FAMUser_Expected] FOREIGN KEY ([ExpectedFAMUserID]) REFERENCES [dbo].[FAMUser] ([ID])
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy]
    WITH NOCHECK ADD CONSTRAINT [FK_ReportingDataCaptureAccuracy_Action_Found] FOREIGN KEY ([FoundActionID]) REFERENCES [dbo].[Action] ([ID])
ALTER TABLE [dbo].[ReportingDataCaptureAccuracy]
    WITH NOCHECK ADD CONSTRAINT [FK_ReportingDataCaptureAccuracy_Action_Expected] FOREIGN KEY ([ExpectedActionID]) REFERENCES [dbo].[Action] ([ID])
ALTER TABLE [dbo].[LabDEOrder]
    ADD CONSTRAINT [FK_Order_Patient] FOREIGN KEY ([PatientMRN]) REFERENCES [dbo].[LabDEPatient] ([MRN]) ON DELETE SET NULL ON UPDATE CASCADE
ALTER TABLE [dbo].[LabDEOrder]
    ADD CONSTRAINT [FK_Order_OrderStatus] FOREIGN KEY ([OrderStatus]) REFERENCES [dbo].[LabDEOrderStatus] ([Code]) ON UPDATE CASCADE
ALTER TABLE [dbo].[LabDEOrder]
    ADD CONSTRAINT [FK_Order_Encounter] FOREIGN KEY ([EncounterID]) REFERENCES [dbo].[LabDEEncounter] ([CSN])
ALTER TABLE [dbo].[DocTagHistory]
    ADD CONSTRAINT [FK_DocTagHistory_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[DocTagHistory]
    ADD CONSTRAINT [FK_DocTagHistory_Tag] FOREIGN KEY ([TagID]) REFERENCES [dbo].[Tag] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[DocTagHistory]
    ADD CONSTRAINT [FK_DocTagHistory_FAMUser] FOREIGN KEY ([FAMUserID]) REFERENCES [dbo].[FAMUser] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[DocTagHistory]
    ADD CONSTRAINT [FK_DocTagHistory_Machine] FOREIGN KEY ([MachineID]) REFERENCES [dbo].[Machine] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileActionComment]
    ADD CONSTRAINT [FK_FileActionComment_Action] FOREIGN KEY ([ActionID]) REFERENCES [dbo].[Action] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileActionComment]
    ADD CONSTRAINT [FK_FileActionComment_FAMFILE] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[Action]
    ADD CONSTRAINT [FK_Action_Workflow] FOREIGN KEY ([WorkflowID]) REFERENCES [dbo].[Workflow] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileTaskSession]
    ADD CONSTRAINT [FK_FileTaskSession_FAMSession] FOREIGN KEY ([FAMSessionID]) REFERENCES [dbo].[FAMSession] ([ID])
ALTER TABLE [dbo].[FileTaskSession]
    ADD CONSTRAINT [FK_FileTaskSession_TaskClass] FOREIGN KEY ([TaskClassID]) REFERENCES [dbo].[TaskClass] ([ID])
ALTER TABLE [dbo].[FileTaskSession]
    ADD CONSTRAINT [FK_FileTaskSession_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID])
ALTER TABLE [dbo].[RasterZone]
    ADD CONSTRAINT [FK_RasterZone_AttributeID] FOREIGN KEY ([AttributeID]) REFERENCES [dbo].[Attribute] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[Attribute]
    ADD CONSTRAINT [FK_Attribute_AttributeSetForFileID] FOREIGN KEY ([AttributeSetForFileID]) REFERENCES [dbo].[AttributeSetForFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[Attribute]
    ADD CONSTRAINT [FK_Attribute_AttributeNameID] FOREIGN KEY ([AttributeNameID]) REFERENCES [dbo].[AttributeName] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[Attribute]
    ADD CONSTRAINT [FK_Attribute_ParentAttributeID] FOREIGN KEY ([ParentAttributeID]) REFERENCES [dbo].[Attribute] ([ID])
ALTER TABLE [dbo].[ReportingHIMStats]
    WITH NOCHECK ADD CONSTRAINT [FK_ReportingHIMStats_Pagination] FOREIGN KEY ([PaginationID]) REFERENCES [dbo].[Pagination] ([ID])
ALTER TABLE [dbo].[ReportingHIMStats]
    WITH NOCHECK ADD CONSTRAINT [FK_ReportingHIMStats_FAMUser] FOREIGN KEY ([FAMUserID]) REFERENCES [dbo].[FAMUser] ([ID])
ALTER TABLE [dbo].[ReportingHIMStats]
    WITH NOCHECK ADD CONSTRAINT [FK_ReportingHIMStats_FAMFile_SourceFile] FOREIGN KEY ([SourceFileID]) REFERENCES [dbo].[FAMFile] ([ID])
ALTER TABLE [dbo].[ReportingHIMStats]
    WITH NOCHECK ADD CONSTRAINT [FK_ReportingHIMStats_FAMFile_DestFile] FOREIGN KEY ([DestFileID]) REFERENCES [dbo].[FAMFile] ([ID])
ALTER TABLE [dbo].[ReportingHIMStats]
    WITH NOCHECK ADD CONSTRAINT [FK_ReportingHIMStats_FAMFile_OriginalFile] FOREIGN KEY ([OriginalFileID]) REFERENCES [dbo].[FAMFile] ([ID])
ALTER TABLE [dbo].[ReportingHIMStats]
    WITH NOCHECK ADD CONSTRAINT [FK_ReportingHIMStats_FileTaskSession] FOREIGN KEY ([FileTaskSessionID]) REFERENCES [dbo].[FileTaskSession] ([ID])
ALTER TABLE [dbo].[ReportingHIMStats]
    WITH NOCHECK ADD CONSTRAINT [FK_ReportingHIMStats_ActionID] FOREIGN KEY ([ActionID]) REFERENCES [dbo].[Action] ([ID])
ALTER TABLE [dbo].[FileActionStatus]
    ADD CONSTRAINT [FK_FileActionStatus_Action] FOREIGN KEY ([ActionID]) REFERENCES [dbo].[Action] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileActionStatus]
    ADD CONSTRAINT [FK_FileActionStatus_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[FileActionStatus]
    ADD CONSTRAINT [FK_FileActionStatus_ActionStatus] FOREIGN KEY ([ActionStatus]) REFERENCES [dbo].[ActionState] ([Code]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[DashboardAttributeFields]
    ADD CONSTRAINT [FK_DashboardAttributeFields_AttributeSetForFileID] FOREIGN KEY ([AttributeSetForFileID]) REFERENCES [dbo].[AttributeSetForFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[SourceDocChangeHistory]
    ADD CONSTRAINT [FK_SourceDocChangeHistory_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[SourceDocChangeHistory]
    ADD CONSTRAINT [FK_SourceDocChangeHistory_User] FOREIGN KEY ([FAMUserID]) REFERENCES [dbo].[FAMUser] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[SourceDocChangeHistory]
    ADD CONSTRAINT [FK_SourceDocChangeHistory_Machine] FOREIGN KEY ([MachineID]) REFERENCES [dbo].[Machine] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[WorkflowFile]
    ADD CONSTRAINT [FK_WorkflowFile_File] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[WorkflowFile]
    ADD CONSTRAINT [FK_WorkflowFile_Workflow] FOREIGN KEY ([WorkflowID]) REFERENCES [dbo].[Workflow] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[Workflow]
    ADD CONSTRAINT [FK_Workflow_OutputAttributeSet] FOREIGN KEY ([OutputAttributeSetID]) REFERENCES [dbo].[AttributeSetName] ([ID]) ON DELETE SET NULL ON UPDATE CASCADE
ALTER TABLE [dbo].[Workflow]
    ADD CONSTRAINT [FK_Workflow_WorkflowType] FOREIGN KEY ([WorkflowTypeCode]) REFERENCES [dbo].[WorkflowType] ([Code]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[Workflow]
    ADD CONSTRAINT [FK_Workflow_StartAction] FOREIGN KEY ([StartActionID]) REFERENCES [dbo].[Action] ([ID])
ALTER TABLE [dbo].[Workflow]
    ADD CONSTRAINT [FK_Workflow_EndAction] FOREIGN KEY ([EndActionID]) REFERENCES [dbo].[Action] ([ID])
ALTER TABLE [dbo].[Workflow]
    ADD CONSTRAINT [FK_Workflow_PostWorkflowAction] FOREIGN KEY ([PostWorkflowActionID]) REFERENCES [dbo].[Action] ([ID])
ALTER TABLE [dbo].[Workflow]
    ADD CONSTRAINT [FK_Workflow_EditAction] FOREIGN KEY ([EditActionID]) REFERENCES [dbo].[Action] ([ID])
ALTER TABLE [dbo].[Workflow]
    ADD CONSTRAINT [FK_Workflow_PostEditAction] FOREIGN KEY ([PostEditActionID]) REFERENCES [dbo].[Action] ([ID])
ALTER TABLE [dbo].[Workflow]
    ADD CONSTRAINT [FK_Workflow_OutputFileMetadataFieldID] FOREIGN KEY ([OutputFileMetadataFieldID]) REFERENCES [dbo].[MetadataField] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[DatabaseService]
    ADD CONSTRAINT [FK_DatabaseService_Machine] FOREIGN KEY ([MachineID]) REFERENCES [dbo].[Machine] ([ID]) ON DELETE SET NULL ON UPDATE CASCADE
ALTER TABLE [dbo].[DatabaseService]
    ADD CONSTRAINT [FK_DatabaseService_ActiveFAM] FOREIGN KEY ([ActiveFAMID]) REFERENCES [dbo].[ActiveFAM] ([ID]) ON DELETE SET NULL ON UPDATE CASCADE
ALTER TABLE [dbo].[DatabaseService]
    ADD CONSTRAINT [FK_DatabaseService_Active_Machine] FOREIGN KEY ([ActiveServiceMachineID]) REFERENCES [dbo].[Machine] ([ID])
ALTER TABLE [dbo].[LabDEPatientFile]
    ADD CONSTRAINT [FK_PatientFile_PatientMRN] FOREIGN KEY ([PatientMRN]) REFERENCES [dbo].[LabDEPatient] ([MRN]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[LabDEPatientFile]
    ADD CONSTRAINT [FK_PatientFile_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[LabDEPatient]
    ADD CONSTRAINT [FK_PatientMergedInto] FOREIGN KEY ([MergedInto]) REFERENCES [dbo].[LabDEPatient] ([MRN])
ALTER TABLE [dbo].[LabDEPatient]
    ADD CONSTRAINT [FK_PatientCurrentMRN] FOREIGN KEY ([CurrentMRN]) REFERENCES [dbo].[LabDEPatient] ([MRN])
ALTER TABLE [dbo].[ReportingVerificationRates]
    ADD CONSTRAINT [FK_ReportingVerificationRates_FAMFile] FOREIGN KEY ([FileID]) REFERENCES [dbo].[FAMFile] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[ReportingVerificationRates]
    ADD CONSTRAINT [FK_ReportingVerificationRates_DatabaseService] FOREIGN KEY ([DatabaseServiceID]) REFERENCES [dbo].[DatabaseService] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[ReportingVerificationRates]
    ADD CONSTRAINT [FK_ReportingVerificationRates_Action] FOREIGN KEY ([ActionID]) REFERENCES [dbo].[Action] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[ReportingVerificationRates]
    ADD CONSTRAINT [FK_ReportingVerificationRates_TaskClass] FOREIGN KEY ([TaskClassID]) REFERENCES [dbo].[TaskClass] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[ReportingVerificationRates]
    ADD CONSTRAINT [FK_ReportingVerificationRates_FileTaskSession] FOREIGN KEY ([LastFileTaskSessionID]) REFERENCES [dbo].[FileTaskSession] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [Security].[GroupWorkflow]
    ADD CONSTRAINT [FK_GroupWorkflow_Group_ID] FOREIGN KEY ([GroupGUID]) REFERENCES [Security].[Group] ([GUID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [Security].[GroupWorkflow]
    ADD CONSTRAINT [FK_GroupWorkflow_WORKFLOW_ID] FOREIGN KEY ([WorkflowID]) REFERENCES [dbo].[Workflow] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[AttributeSetForFile]
    ADD CONSTRAINT [FK_AttributeSetForFile_FileTaskSessionID] FOREIGN KEY ([FileTaskSessionID]) REFERENCES [dbo].[FileTaskSession] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
ALTER TABLE [dbo].[AttributeSetForFile]
    ADD CONSTRAINT [FK_AttributeSetForFile_AttributeSetNameID] FOREIGN KEY ([AttributeSetNameID]) REFERENCES [dbo].[AttributeSetName] ([ID]) ON DELETE CASCADE ON UPDATE CASCADE
COMMIT TRANSACTION
