<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="StatisticsReporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><userSettings>
        <StatisticsReporter.Properties.Settings>
            <setting name="IncludeFilesIfNoExpectedVoa" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeOfStatistics" serializeAs="String">
                <value>DataCapture</value>
            </setting>
            <setting name="XPathOfAttributesToIgnore" serializeAs="String">
                <value>/*//*[not(.//text())]</value>
            </setting>
            <setting name="XPathOfContainerOnlyAttributes" serializeAs="String">
                <value>/*//*[not(text()) or text()='N/A']</value>
            </setting>
            <setting name="ExpectedAttributeSetName" serializeAs="String">
                <value>Expected</value>
            </setting>
            <setting name="FoundAttributeSetName" serializeAs="String">
                <value>Found</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportOutputFileName" serializeAs="String">
                <value>Statistics-$(DateTimeStamp).html</value>
            </setting>
            <setting name="OutputAggregateTestResultVOAs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputPerFileTestResultVOAs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PerFileTestResultPathTagFunction" serializeAs="String">
                <value>&lt;SourceDocName&gt;.testoutput.voa</value>
            </setting>
            <setting name="ApplyDateRangeToFound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartDateTime" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="EndDateTime" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="ErrorIfContainerOnlyConflict" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CSS" serializeAs="String">
                <value />
            </setting>
            <setting name="Header1" serializeAs="String">
                <value>Extract Statistics Report</value>
            </setting>
        </StatisticsReporter.Properties.Settings>
    </userSettings>
</configuration>
