<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LabDECoreTestingAutomatedConnectionString" connectionString="server=ENGSVR;database=Corepoint_LabDEDB;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="AdtDropDirectory" value="\\devsk15\Demo_LabDE\Inbound HL7\ADT"/>
    <add key="OrmDropDirectory" value="\\devsk15\Demo_LabDE\Inbound HL7\ORM"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
