<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="QueueDepthMeasure" value="{&quot;TypeName&quot;: &quot;Extract.EnvironmentLog.QueueDepthMeasureV1&quot;,&quot;DataTransferObject&quot;: {&quot;DatabaseServer&quot;: &quot;(local)&quot;,&quot;DatabaseName&quot;: &quot;Demo_IDShield&quot;,&quot;Customer&quot;: &quot;Extract&quot;,&quot;Context&quot;: &quot;DB&quot;,&quot;Entity&quot;: &quot;(local)\\Demo_IDShield&quot;,&quot;MeasurementType&quot;: &quot;Queue Depth&quot;,&quot;MeasurementInterval&quot;: 60000,&quot;PinThread&quot;: false,&quot;Enabled&quot;: true}}"/>
		<add key="ServiceMeasure" value="{&quot;TypeName&quot;: &quot;Extract.EnvironmentLog.ServiceMeasureV1&quot;,&quot;DataTransferObject&quot;: {&quot;Customer&quot;: &quot;testCustomer&quot;,&quot;Context&quot;: &quot;Machine&quot;,&quot;Entity&quot;: &quot;localhost&quot;,&quot;MeasurementType&quot;: &quot;Running Services&quot;,&quot;MeasurementInterval&quot;: 60000,&quot;PinThread&quot;: false,&quot;Enabled&quot;: true}}"/>
	</appSettings>
</configuration>