<?xml version="1.0" encoding="utf-8" ?>
<!-- Make sure to document when a test project uses this config file! --> 
<!-- Used by: Extract.DataEntry.LabDE.Test -->
<configuration>
  <connectionStrings>
    <add name="LabDECoreTestingAutomatedConnectionString" connectionString="server=GRABATOLOGY;database=Demo_LabDE;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="AdtDropDirectory" value ="\\devsk15\Demo_LabDE\Inbound HL7\ADT"/>
    <add key="OrmDropDirectory" value="\\devsk15\Demo_LabDE\Inbound HL7\ORM"/>
  </appSettings>
</configuration>