<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Extract.NetDMSCustomComponents.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <Extract.NetDMSCustomComponents.Properties.Settings>
            <setting name="LastServer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionTimeout" serializeAs="String">
                <value>60000</value>
            </setting>
        </Extract.NetDMSCustomComponents.Properties.Settings>
    </userSettings>
</configuration>