<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Extract.DataEntry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="objectSettings"/>
    </configSections>
    <applicationSettings>
        <Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
			<setting name="ApplicationResourceFile" serializeAs="String">
                <value>[PFESFolder]\CommonComponents\DataEntryApplication.FlexIndex.resources</value>
            </setting>
		</Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
		<Extract.DataEntry.Properties.Settings>
			<setting name="DataEntryPanelFileName" serializeAs="String">
                <value>Bin\Extract.DataEntry.DEP.Generic.dll</value>
            </setting>
			<setting name="PreventSave" serializeAs="String">
				<value>True</value>
			</setting>
		</Extract.DataEntry.Properties.Settings>
    </applicationSettings>
    <objectSettings>
		<Extract.DataEntry.DEP.Generic.GenericPanel>
			<member name="_label1">
				<property name="Visible">true</property>
				<property name="Text">Document Type</property>
			</member>
			<member name="_field1">
				<property name="Visible">true</property>
				<property name="AttributeName">DocumentType</property>
				<property name="PersistAttribute">true</property>
			</member>
			<member name="_label2">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field2">
				<property name="Visible">false</property>
				<property name="AttributeName">Field2</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label3">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field3">
				<property name="Visible">false</property>
				<property name="AttributeName">Field3</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label4">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field4">
				<property name="Visible">false</property>
				<property name="AttributeName">Field4</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label5">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field5">
				<property name="Visible">false</property>
				<property name="AttributeName">Field5</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label6">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field6">
				<property name="Visible">false</property>
				<property name="AttributeName">Field6</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label7">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field7">
				<property name="Visible">false</property>
				<property name="AttributeName">Field7</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label8">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field8">
				<property name="Visible">false</property>
				<property name="AttributeName">Field8</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label9">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field9">
				<property name="Visible">false</property>
				<property name="AttributeName">Field9</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label10">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field10">
				<property name="Visible">false</property>
				<property name="AttributeName">Field10</property>
				<property name="PersistAttribute">false</property>
			</member>
				<member name="_label11">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field11">
				<property name="Visible">false</property>
				<property name="AttributeName">Field11</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label12">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field12">
				<property name="Visible">false</property>
				<property name="AttributeName">Field12</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label13">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field13">
				<property name="Visible">false</property>
				<property name="AttributeName">Field13</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label14">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field14">
				<property name="Visible">false</property>
				<property name="AttributeName">Field14</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label15">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field15">
				<property name="Visible">false</property>
				<property name="AttributeName">Field15</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label16">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field16">
				<property name="Visible">false</property>
				<property name="AttributeName">Field16</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label17">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field17">
				<property name="Visible">false</property>
				<property name="AttributeName">Field17</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label18">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field18">
				<property name="Visible">false</property>
				<property name="AttributeName">Field18</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label19">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field19">
				<property name="Visible">false</property>
				<property name="AttributeName">Field19</property>
				<property name="PersistAttribute">false</property>
			</member>
			<member name="_label20">
				<property name="Visible">false</property>
				<property name="Text"></property>
			</member>
			<member name="_field20">
				<property name="Visible">false</property>
				<property name="AttributeName">Field20</property>
				<property name="PersistAttribute">false</property>
			</member>
        </Extract.DataEntry.DEP.Generic.GenericPanel>
    </objectSettings>
</configuration>