<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Extract.DataEntry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
		<Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
			<setting name="ApplicationResourceFile" serializeAs="String">
                <value>[PFESFolder]\CommonComponents\DataEntryApplication.LabDE.resources</value>
            </setting>
		</Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
		<Extract.DataEntry.Properties.Settings>
			<setting name="HighlightConfidenceBoundary" serializeAs="String">
				<value>2</value>
			</setting>
		</Extract.DataEntry.Properties.Settings>
    </applicationSettings>
	<documentTypeConfigurations>
		<configuration configFile="Generic.config" default="true">
			<documentType>Generic</documentType>
		</configuration>
		<configuration configFile="Court.config">
			<documentType>Court Docket</documentType>
			<documentType>Common Pleas</documentType>
			<documentType>Motion</documentType>
		</configuration>
		<configuration configFile="FlexIndex.config">
			<documentType>Assignment of Deed of Trust</documentType>
			<documentType>Assignment of Rents</documentType>
			<documentType>Deed of Trust</documentType>
			<documentType>Grant Deed</documentType>
			<documentType>Quit Claim Deed</documentType>
		</configuration>
		<configuration configFile="StandardLabDE.config">
			<documentType>Lab Report</documentType>
		</configuration>
		<configuration configFile="UITransplantCenter.config">
			<documentType>UITC</documentType>
		</configuration>
		<configuration configFile="Fresno.config">
			<documentType>Fresno</documentType>
		</configuration>
    </documentTypeConfigurations>
</configuration>