<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Extract.DataEntry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="objectSettings"/>
	</configSections>
	<applicationSettings>
		<Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
			<setting name="ApplicationResourceFile" serializeAs="String">
				<value>[PFESFolder]\CommonComponents\DataEntryApplication.LabDE.resources</value>
			</setting>
		</Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
		<Extract.DataEntry.Properties.Settings>
			<setting name="DataEntryPanelFileName" serializeAs="String">
				<value>Bin\Extract.DataEntry.DEP.UITransplantCenter.dll</value>
			</setting>
			<setting name="DatabaseType" serializeAs="String">
				<value>System.Data.SqlServerCe.SqlCeConnection, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91</value>
			</setting>
			<setting name="LocalDataSource" serializeAs="String">
				<value>Database Files\UITC.sdf</value>
			</setting>
			<setting name="SkipValidationIfDocTaggedAs" serializeAs="String">
				<value>Delete document</value>
			</setting>
			<setting name="PreventSave" serializeAs="String">
				<value>True</value>
			</setting>
		</Extract.DataEntry.Properties.Settings>
	</applicationSettings>
	<objectSettings>
		<Extract.DataEntry.DEP.UITransplantCenter.UITransplantCenterPanel>
		    <Property name="InvalidDataSaveMode">PromptForEach</Property>
			<Member name="_collectionDateColumn">
				<Property name="FormattingRuleFile">Rules\Swiping\CollectionDate.rsd.etf</Property>
			</Member>
			<Member name="_collectionTimeColumn">
				<Property name="FormattingRuleFile">Rules\Swiping\CollectionTime.rsd.etf</Property>
			</Member>
			<Member name="_resultDateColumn">
				<Property name="FormattingRuleFile">Rules\Swiping\ResultDate.rsd.etf</Property>
			</Member>
			<Member name="_resultTimeColumn">
				<Property name="FormattingRuleFile">Rules\Swiping\ResultTime.rsd.etf</Property>
			</Member>
			<Member name="_epicPatientNameTable">
				<Property name="RowFormattingRuleFile">Rules\Swiping\name.rsd.etf</Property>
			</Member>
			<Member name="_patientNameTable">
				<Property name="RowFormattingRuleFile">Rules\Swiping\name.rsd.etf</Property>
			</Member>
			<Member name="_laboratoryTestTable">
				<Property name="RowFormattingRuleFile">Rules\Swiping\TestRow.rsd.etf</Property>
			</Member>
		</Extract.DataEntry.DEP.UITransplantCenter.UITransplantCenterPanel>
	</objectSettings>
</configuration>
