<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
            <setting name="HelpFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationTitle" serializeAs="String">
                <value>Extract Systems</value>
            </setting>
            <setting name="ApplicationIcon" serializeAs="String">
                <value />
            </setting>
            <setting name="AboutLogo" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationDescription" serializeAs="String">
                <value />
            </setting>
        </Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
    </applicationSettings>
</configuration>