<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
			<setting name="DataEntryPanelFileName" serializeAs="String">
				<value>Extract.DataEntry.Utilities.SampleDataEntryPanel1.dll</value>
			</setting>
			<setting name="HighlightConfidenceBoundary" serializeAs="String">
				<value/>
			</setting>
			<setting name="DatabaseType" serializeAs="String">
				<value>System.Data.SqlServerCe.SqlCeConnection, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91</value>
			</setting>
			<setting name="LocalDataSource" serializeAs="String">
				<value/>
			</setting>
			<setting name="DatabaseConnectionString" serializeAs="String">
				<value/>
			</setting>
			<setting name="DisabledControls" serializeAs="String">
				<value/>
			</setting>
			<setting name="DisabledValidationControls" serializeAs="String">
				<value/>
			</setting>
			<setting name="HelpFile" serializeAs="String">
				<value/>
			</setting>
			<setting name="SkipValidationIfDocTaggedAs" serializeAs="String">
				<value/>
			</setting>
			<setting name="PreventSave" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="GCFrequency" serializeAs="String">
				<value>1</value>
			</setting>
		</Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
