<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
            <setting name="ApplicationResourceFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableAutoUpdateQueries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableValidationQueries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFilter" serializeAs="String">
                <value>DataLoad,DataSave,AttributeInitialized,AttributeUpdated,AttributeDeleted,AutoUpdateResult,SwipedText,TooltipNotification,FormattingRuleResult,Undo,Redo,Focus,InputEvent</value>
            </setting>
            <setting name="InputEventFilter" serializeAs="String">
                <value>KeyDown,SystemKeyDown,LeftButtonDown,NonClientLeftButtonDown,MiddleButtonDown,NonClientMiddleButtonDown,RightButtonDown,NonClientRightButtonDown</value>
            </setting>
            <setting name="DisableSkip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PerformanceTesting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QueryCacheLimit" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="PreventSave" serializeAs="String">
                <value>False</value>
            </setting>
        </Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
            <setting name="WindowMaximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowPositionX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WindowPositionY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>759</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="SplitterPosition" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShowSeparateImageWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageWindowPositionX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ImageWindowPositionY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ImageWindowWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ImageWindowHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AutoZoomMode" serializeAs="String">
                <value>ZoomOutIfNecessary</value>
            </setting>
            <setting name="AutoZoomContext" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="AutoOcr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OcrTradeoff" serializeAs="String">
                <value>Balanced</value>
            </setting>
        </Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
