<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Extract.ReportingDevExpress.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Extract.ReportingDevExpress.Properties.Settings>
            <setting name="OpenReportState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="OpenReportSize" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="OpenReportLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ReportViewerState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ReportViewerSize" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="ReportViewerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OpenReportSplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpenReportUsePersistedSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportViewerUsePersistedSettings" serializeAs="String">
                <value>False</value>
            </setting>
        </Extract.ReportingDevExpress.Properties.Settings>
    </userSettings>
</configuration>