<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Extract.FAMDBCounterManager.EmailSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Extract.FAMDBCounterManager.ExtractSmtp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <Extract.FAMDBCounterManager.EmailSettings>
            <setting name="Server" serializeAs="String">
                <value/>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="SenderName" serializeAs="String">
                <value>Extract Licensing</value>
            </setting>
            <setting name="SenderAddress" serializeAs="String">
                <value>flex-license@extractsystems.com</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadonlyBodyTemplate" serializeAs="String">
                <value>The counter &lt;CodeType&gt; code below is for the database:
&lt;DatabaseServer&gt;/&lt;DatabaseName&gt;
ID = &lt;DatabaseID&gt;

This code will apply the following changes to the database's counters:
&lt;Description&gt;

To apply update:
1) Open the Extract Systems DB Administration utility
2) Select menu option Manage | Rule execution counters...
3) Press the "Apply &lt;CodeType&gt; code" button
4) Follow the dialog's instructions to apply the code and send confirmation of the operation to Extract Systems.

&lt;Code&gt;</value>
            </setting>
            <setting name="SubjectTemplate" serializeAs="String">
                <value>Extract Systems counter &lt;CodeType&gt; code for &lt;Customer&gt;</value>
            </setting>
            <setting name="EditableBodyTemplate" serializeAs="String">
                <value>Dear &lt;Customer&gt;,

&lt;Comment&gt;</value>
            </setting>
        </Extract.FAMDBCounterManager.EmailSettings>
        <Extract.FAMDBCounterManager.ExtractSmtp>
            <setting name="Server" serializeAs="String">
                <value/>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="SenderName" serializeAs="String">
                <value>Extract Licensing</value>
            </setting>
            <setting name="SenderAddress" serializeAs="String">
                <value>flex-license@extractsystems.com</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadonlyBodyTemplate" serializeAs="String">
                <value>&lt;Description&gt;

To apply update:
1) Open the FAMDBAdmin utility
2) Select menu options Tools | Counters | Apply code...
3) Copy the code below and paste it into the Apply code dialog.

&lt;Code&gt;</value>
            </setting>
            <setting name="SubjectTemplate" serializeAs="String">
                <value>Extract Systems counter update code for &lt;Customer&gt;</value>
            </setting>
            <setting name="EditableBodyTemplate" serializeAs="String">
                <value>Dear &lt;Customer&gt;,

&lt;Comment&gt;</value>
            </setting>
        </Extract.FAMDBCounterManager.ExtractSmtp>
    </userSettings>
</configuration>
