<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="Extract Web Services" 
          Version="!(bind.packageVersion.WebInstallerConfiguration.msi)" 
          Manufacturer="Extract Systems" 
          UpgradeCode="bc577eca-a45b-4703-b36a-61819a315be8">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication ShowVersion="yes" LicenseUrl="" LogoFile="$(var.ProjectDir)\Extractlogo.png" LogoSideFile="$(var.ProjectDir)\Extractlogo.png" SuppressOptionsUI="yes" SuppressRepair="yes" />
    </BootstrapperApplicationRef>

		<Chain>
      <PackageGroupRef Id="InstallIIS"/>
      <MsiPackage Id="IISCors" Permanent="yes" SourceFile="IISCORS_amd64.msi" ForcePerMachine="yes"></MsiPackage>
      <MsiPackage Id="URLRewrite" Permanent="yes" SourceFile="rewrite_amd64_en-US.msi" ForcePerMachine="yes" ></MsiPackage>

      <PackageGroupRef Id="NetCoreInstall"/>

      <MsiPackage Permanent="yes" DisplayInternalUI="yes" SourceFile="$(var.WebInstaller.TargetDir)\WebInstallerConfiguration.msi"></MsiPackage>
		</Chain>
	</Bundle>
</Wix>
