<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
	    <setting name="DataEntryPanelFileName" serializeAs="String">
                <value>[PFESFolder]\CommonComponents\Extract.DataEntry.DEP.DemoFlexIndex.dll</value>
            </setting>
	    <setting name="HighlightConfidenceBoundary" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="DatabaseType" serializeAs="String">
                <value>System.Data.SqlServerCe.SqlCeConnection, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91</value>
            </setting>
            <setting name="LocalDataSource" serializeAs="String">
                <value>Database Files\DemoFlexIndex.sdf</value>
            </setting>
            <setting name="DatabaseConnectionString" serializeAs="String">
                <value />
            </setting>
		<setting name="DisabledControls" serializeAs="String">
                <value></value>
            </setting>
		<setting name="DisabledControls" serializeAs="String">
                <value></value>
            </setting>
		<setting name="DisabledValidationControls" serializeAs="String">
                <value></value>
            </setting>
		<setting name="HelpFile" serializeAs="String">
                <value>[PFESFolder]\FlexIndex\Help\FLEXIndex.chm</value>
            </setting>
	    <setting name="SkipValidationIfDocTaggedAs" serializeAs="String">
                <value></value>
            </setting>
        </Extract.DataEntry.Utilities.DataEntryApplication.Properties.Settings>
    </applicationSettings>
</configuration>