<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="UserRegDialogUI">

      <Property Id="Proceed">proceedbtn</Property>

      <!--I am forceing these checkboxes to be checked, because the behavior is weird if they
      are defaulted to un-checked. They act like C++ code where they are undefined instead of zero.-->
      <Property Id="FORCE_REDACTION_TYPE_TO_BE_SET" Value="1"></Property>
      
      <Property Id="CREATE_APP_BACKEND_SITE" Value="1"></Property>
      <Property Id="CREATE_DOCUMENTAPI_SITE" Value="1"></Property>
      <Property Id="CREATE_VERIFY_SITE" Value="1"></Property>
      <Property Id="CREATE_WINDOWS_AUTHORIZATION_SITE" Value="1"></Property>


      <Binary Id="proceedbtn" SourceFile="images/proceedbtn.bmp"/>
      <Binary Id="headerPic" SourceFile="images/header.bmp"/>

      <Dialog Id="UserRegDialog" Width="400" Height="370" Title="Extract Web Site Configuration">

        <Control Id="background" Type="Bitmap" Text="bgPic" Height="500" Width="400" X="0" Y="0" TabSkip="no" />
        <Control Id="header" Type="Bitmap" Text="headerPic" Height="50" Width="400" X="0" Y="0" TabSkip="no" />
        <Control Id="headerText"  Type="Text" X="65" Y="10" Width="320" Height="40" Transparent="yes" Text="{\TahomaBig}Site Configuration" />

        <Control Id="Link1" Type="Hyperlink" X="35" Y="52" Width="110" Height="15" >
          <Text><![CDATA[<a href="https://extract.atlassian.net/wiki/spaces/KB/pages/1209040897/Web+Installer">Web Installer Documenation</a>]]></Text>
        </Control>
        
        <Control Id="documentAPICreation" CheckBoxValue="[CREATE_DOCUMENTAPI_SITE]" Type="CheckBox" X="35" Y="67"  Height="15" Width="15" Property="CREATE_DOCUMENTAPI_SITE"  />
        <Control Id="documentApiDnsLabel" Type="Text" X="50" Y="70" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}DocumentAPI Domain" />
        <Control Id="documentApiDnsTextBox" Text="[DOCUMENTAPI_DNS_ENTRY]" Type="Edit" X="145" Y="67"  Height="17" Width="200" Property="DOCUMENTAPI_DNS_ENTRY"  />

        <Control Id="verifyCreation" CheckBoxValue="[CREATE_VERIFY_SITE]" Type="CheckBox" X="35" Y="87"  Height="15" Width="15" Property="CREATE_VERIFY_SITE"  />
        <Control Id="idsVerifyDnsLabel" Type="Text" X="50" Y="90" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Verify Domain" />
        <Control Id="idsVerifyDnsTextBox" Text="[IDSVERIFY_DNS_ENTRY]" Type="Edit" X="145" Y="87"  Height="17" Width="200" Property="IDSVERIFY_DNS_ENTRY"  />

        <Control Id="appBackendCreation" CheckBoxValue="[CREATE_APP_BACKEND_SITE]" Type="CheckBox" X="50" Y="107"  Height="15" Width="15" Property="CREATE_APP_BACKEND_SITE"  />
        <Control Id="appBackendDNSLabel" Type="Text" X="65" Y="110" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}AppBackend Domain" />
        <Control Id="appBackendDNSTextBox" Type="Edit" X="160" Y="107" Text="[APPBACKEND_DNS_ENTRY]"  Height="17" Width="200" Property="APPBACKEND_DNS_ENTRY"  />

        <Control Id="winAuthCreation" CheckBoxValue="[CREATE_WINDOWS_AUTHORIZATION_SITE]" Type="CheckBox" X="50" Y="127"  Height="15" Width="15" Property="CREATE_WINDOWS_AUTHORIZATION_SITE"  />
        <Control Id="winAuthDnsLabel" Type="Text" X="65" Y="130" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Windows Auth Domain" />
        <Control Id="winAuthDnsTextBox" Text="[WINDOWSAUTHORIZATION_DNS_ENTRY]" Type="Edit" X="160" Y="127"  Height="17" Width="200" Property="WINDOWSAUTHORIZATION_DNS_ENTRY"  />

        <Control Id="forceRedactionTypeTextBox" CheckBoxValue="[FORCE_REDACTION_TYPE_TO_BE_SET]" Type="CheckBox" X="50" Y="147"  Height="15" Width="15" Property="FORCE_REDACTION_TYPE_TO_BE_SET"  />
        <Control Id="forceRedactionTypeLabel" Type="Text" X="65" Y="150" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Force Redaction Type" />
        
        <Control Id="userNameLabel" Type="Text" X="35" Y="170" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}User Name" />
        <Control Id="userNameTextBox" Text="[APPPOOL_USER_NAME]" Type="Edit" X="130" Y="167"  Height="17" Width="200" Property="APPPOOL_USER_NAME"  />

        <Control Id="passwordLabel" Type="Text" X="35" Y="190" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Password" />
        <Control Id="passwordTextBox" Password="yes" Text="[APPPOOL_USER_PASSWORD]" Type="Edit" X="130" Y="187"  Height="17" Width="200" Property="APPPOOL_USER_PASSWORD"  />

        <Control Id="domainLabel" Type="Text" X="35" Y="210" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Domain" />
        <Control Id="domainTextBox" Text="[APPPOOL_USER_DOMAIN]" Type="Edit" X="130" Y="207"  Height="17" Width="200" Property="APPPOOL_USER_DOMAIN"  />

        <Control Id="databaseServerLabel" Type="Text" X="35" Y="230" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Database Server" />
        <Control Id="databaseServerTextBox" Text="[DATABASE_SERVER]" Type="Edit" X="130" Y="227"  Height="17" Width="200" Property="DATABASE_SERVER"  />
        
        <Control Id="databaseNameLabel" Type="Text" X="35" Y="250" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Database Name" />
        <Control Id="databaseNameTextBox" Text="[DATABASE_NAME]" Type="Edit" X="130" Y="247"  Height="17" Width="200" Property="DATABASE_NAME"  />

        <Control Id="databaseWorkflowLabel" Type="Text" X="35" Y="270" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Database Workflow" />
        <Control Id="databaseWorkflowTextBox" Text="[DATABASE_WORKFLOW]" Type="Edit" X="130" Y="267"  Height="17" Width="200" Property="DATABASE_WORKFLOW"  />

        <Control Id="Validation" Text="Validate Entries" Type="PushButton" X="35" Y="290" Width="100" Height="17">
          <Publish Event="DoAction" Value="UserNameAndPermissionValidaion">1</Publish>
        </Control>


        <Control Id="proceedButton" Type="PushButton" Text="[Proceed]" Height="32" Width="111" X="80" Y="330" Bitmap="yes">
          <!--Executes the c# custom actions BEFORE running any of the other code in Product.
          Ideally this would execute after, but I do not currently know how to do this-->
          <Publish Event="DoAction" Value="ModifyWebConfig">1</Publish>
          <Publish Event="DoAction" Value="UpdateAppSettings">1</Publish>
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>

        <Control Id="cancelButton" Type="PushButton" Text="[Cancel]" Height="32" Width="111" X="195" Y="330" Cancel="yes" Bitmap="yes">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>
      </Dialog>
    </UI>

    <InstallUISequence>
      <Show Dialog="UserRegDialog" After="SetupDialog" />
    </InstallUISequence>
  </Fragment>

  <Fragment>
    <Binary Id="CustomActionBinary" SourceFile="$(var.WebInstallerCustomActions.TargetDir)$(var.WebInstallerCustomActions.TargetName).CA.dll"/>
    <CustomAction Id="ModifyWebConfig" BinaryKey="CustomActionBinary" DllEntry="ModifyWebConfig"  />
    <CustomAction Id="UpdateAppSettings" BinaryKey="CustomActionBinary" DllEntry="UpdateAppSettings"  />
    <CustomAction Id="UpdateAngularSettings" BinaryKey="CustomActionBinary" DllEntry="UpdateAngularSettings"  />
    <CustomAction Id="UserNameAndPermissionValidaion" BinaryKey="CustomActionBinary" DllEntry="UserNameAndPermissionValidaion"  />
  </Fragment>
</Wix>
