<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="UserRegDialogUI">

      <Property Id="Proceed">proceedbtn</Property>

      <!--I am forceing these checkboxes to be checked, because the behavior is weird if they
      are defaulted to un-checked. They act like C++ code where they are undefined instead of zero.-->
      <Property Id="FORCE_REDACTION_TYPE_TO_BE_SET" Value="1"></Property>
      
      <Property Id="CREATE_APP_BACKEND_SITE" Value="1"></Property>
      <Property Id="CREATE_DOCUMENTAPI_SITE" Value="1"></Property>
      <Property Id="CREATE_VERIFY_SITE" Value="1"></Property>
      <Property Id="CREATE_WINDOWS_AUTHORIZATION_SITE" Value="1"></Property>


      <Binary Id="proceedbtn" SourceFile="images/proceedbtn.bmp"/>
      <Binary Id="headerPic" SourceFile="images/header.bmp"/>

      <Dialog Id="UserRegDialog" Width="400" Height="420" Title="Web Application User Input">

        <Control Id="background" Type="Bitmap" Text="bgPic" Height="500" Width="400" X="0" Y="0" TabSkip="no" />
        <Control Id="header" Type="Bitmap" Text="headerPic" Height="50" Width="400" X="0" Y="0" TabSkip="no" />
        <Control Id="headerText"  Type="Text" X="65" Y="10" Width="320" Height="40" Transparent="yes" Text="{\TahomaBig}User Input" />

        <Control Id="explanationText" X="35" Y="75" NoWrap="no" RightAligned="no" Transparent="yes" Type="Text" Width="250" Height="100" Text="{\TahomaNormal}Username and password are REQUIRED." />
        <Control Id="CreateSitesLabel" Type="Text" X="345" Y="97" Height="17" Width="85" Transparent="yes" Text="{\TahomaNormal}Create Site" />

        <Control Id="documentApiDnsLabel" Type="Text" X="35" Y="120" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}DocumentAPI Domain" />
        <Control Id="documentApiDnsTextBox" Text="[DOCUMENTAPI_DNS_ENTRY]" Type="Edit" X="130" Y="117"  Height="17" Width="200" Property="DOCUMENTAPI_DNS_ENTRY"  />
        <Control Id="documentAPICreation" CheckBoxValue="[CREATE_DOCUMENTAPI_SITE]" Type="CheckBox" X="345" Y="117"  Height="17" Width="200" Property="CREATE_DOCUMENTAPI_SITE"  />
        
        <Control Id="appBackendDNSLabel" Type="Text" X="35" Y="140" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}AppBackend Domain" />
        <Control Id="appBackendDNSTextBox" Type="Edit" X="130" Y="137" Text="[APPBACKEND_DNS_ENTRY]"  Height="17" Width="200" Property="APPBACKEND_DNS_ENTRY"  />
        <Control Id="appBackendCreation" CheckBoxValue="[CREATE_APP_BACKEND_SITE]" Type="CheckBox" X="345" Y="137"  Height="17" Width="200" Property="CREATE_APP_BACKEND_SITE"  />

        <Control Id="idsVerifyDnsLabel" Type="Text" X="35" Y="160" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Verify Domain" />
        <Control Id="idsVerifyDnsTextBox" Text="[IDSVERIFY_DNS_ENTRY]" Type="Edit" X="130" Y="157"  Height="17" Width="200" Property="IDSVERIFY_DNS_ENTRY"  />
        <Control Id="verifyCreation" CheckBoxValue="[CREATE_VERIFY_SITE]" Type="CheckBox" X="345" Y="157"  Height="17" Width="200" Property="CREATE_VERIFY_SITE"  />
        
        <Control Id="winAuthDnsLabel" Type="Text" X="35" Y="180" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Windows Auth Domain" />
        <Control Id="winAuthDnsTextBox" Text="[WINDOWSAUTHORIZATION_DNS_ENTRY]" Type="Edit" X="130" Y="177"  Height="17" Width="200" Property="WINDOWSAUTHORIZATION_DNS_ENTRY"  />
        <Control Id="winAuthCreation" CheckBoxValue="[CREATE_WINDOWS_AUTHORIZATION_SITE]" Type="CheckBox" X="345" Y="177"  Height="17" Width="200" Property="CREATE_WINDOWS_AUTHORIZATION_SITE"  />
 
        <Control Id="userNameLabel" Type="Text" X="35" Y="200" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}User Name" />
        <Control Id="userNameTextBox" Text="[APPPOOL_USER_NAME]" Type="Edit" X="130" Y="197"  Height="17" Width="200" Property="APPPOOL_USER_NAME"  />

        <Control Id="passwordLabel" Type="Text" X="35" Y="220" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Password" />
        <Control Id="passwordTextBox" Password="yes" Text="[APPPOOL_USER_PASSWORD]" Type="Edit" X="130" Y="217"  Height="17" Width="200" Property="APPPOOL_USER_PASSWORD"  />

        <Control Id="domainLabel" Type="Text" X="35" Y="240" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Domain" />
        <Control Id="domainTextBox" Text="[APPPOOL_USER_DOMAIN]" Type="Edit" X="130" Y="237"  Height="17" Width="200" Property="APPPOOL_USER_DOMAIN"  />

        <Control Id="forceRedactionTypeLabel" Type="Text" X="35" Y="260" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Force Redaction Type" />
        <Control Id="forceRedactionTypeTextBox" CheckBoxValue="[FORCE_REDACTION_TYPE_TO_BE_SET]" Type="CheckBox" X="130" Y="257"  Height="17" Width="200" Property="FORCE_REDACTION_TYPE_TO_BE_SET"  />

        <Control Id="databaseServerLabel" Type="Text" X="35" Y="280" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Database Server" />
        <Control Id="databaseServerTextBox" Text="[DATABASE_SERVER]" Type="Edit" X="130" Y="277"  Height="17" Width="200" Property="DATABASE_SERVER"  />
        
        <Control Id="databaseNameLabel" Type="Text" X="35" Y="300" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Database Name" />
        <Control Id="databaseNameTextBox" Text="[DATABASE_NAME]" Type="Edit" X="130" Y="297"  Height="17" Width="200" Property="DATABASE_NAME"  />

        <Control Id="databaseWorkflowLabel" Type="Text" X="35" Y="320" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Database Workflow" />
        <Control Id="databaseWorkflowTextBox" Text="[DATABASE_WORKFLOW]" Type="Edit" X="130" Y="317"  Height="17" Width="200" Property="DATABASE_WORKFLOW"  />

        <Control Id="Validation" Text="Validate Entries" Type="PushButton" X="35" Y="340" Width="100" Height="17">
          <Publish Event="DoAction" Value="UserNameAndPermissionValidaion">1</Publish>
        </Control>


        <Control Id="proceedButton" Type="PushButton" Text="[Proceed]" Height="32" Width="111" X="80" Y="380" Bitmap="yes">
          <!--Executes the c# custom actions BEFORE running any of the other code in Product.
          Ideally this would execute after, but I do not currently know how to do this-->
          <Publish Event="DoAction" Value="ModifyWebConfig">1</Publish>
          <Publish Event="DoAction" Value="UpdateAppSettings">1</Publish>
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>

        <Control Id="cancelButton" Type="PushButton" Text="[Cancel]" Height="32" Width="111" X="195" Y="380" Cancel="yes" Bitmap="yes">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>
      </Dialog>
    </UI>

    <InstallUISequence>
      <Show Dialog="UserRegDialog" After="SetupDialog" />
    </InstallUISequence>
  </Fragment>

  <Fragment>
    <Binary Id="CustomActionBinary" SourceFile="$(var.WebInstallerCustomActions.TargetDir)$(var.WebInstallerCustomActions.TargetName).CA.dll"/>
    <CustomAction Id="ModifyWebConfig" BinaryKey="CustomActionBinary" DllEntry="ModifyWebConfig"  />
    <CustomAction Id="UpdateAppSettings" BinaryKey="CustomActionBinary" DllEntry="UpdateAppSettings"  />
    <CustomAction Id="UpdateAngularSettings" BinaryKey="CustomActionBinary" DllEntry="UpdateAngularSettings"  />
    <CustomAction Id="UserNameAndPermissionValidaion" BinaryKey="CustomActionBinary" DllEntry="UserNameAndPermissionValidaion"  />
  </Fragment>
</Wix>
