<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="UserRegDialogUI">

      <Property Id="Proceed">proceedbtn</Property>

      <!--I am forceing these checkboxes to be checked, because the behavior is weird if they
      are defaulted to un-checked. They act like C++ code where they are undefined instead of zero.-->
      <Property Id="FORCE_REDACTION_TYPE_TO_BE_SET" Value="1"></Property>
      
      <Property Id="CREATE_DOCUMENTAPI_SITE" Value="1"></Property>
      <Property Id="CREATE_VERIFY_SITE" Value="1"></Property>
      <Property Id="CREATE_WINDOWS_AUTHORIZATION_SITE" Value="1"></Property>


      <Binary Id="proceedbtn" SourceFile="images/proceedbtn.bmp"/>
      <Binary Id="headerPic" SourceFile="images/header.bmp"/>
      <Binary Id="grayBgPic" SourceFile="images/bg2.bmp"/>

      <Dialog Id="UserRegDialog" Width="400" Height="410" Title="Extract Web Services Configuration">
        <Control Id="background" Type="Bitmap" Text="grayBgPic" Height="500" Width="400" X="0" Y="0" TabSkip="no" />
        <Control Id="header" Type="Bitmap" Text="headerPic" Height="50" Width="400" X="0" Y="0" TabSkip="no" />
        <Control Id="headerText"  Type="Text" X="65" Y="10" Width="320" Height="40" Transparent="yes" Text="{\TahomaBig}Site Configuration" />

        <Control Id="Link1" Type="Hyperlink" X="35" Y="54" Width="110" Height="15" >
          <Text><![CDATA[<a href="https://extract.atlassian.net/wiki/spaces/KB/pages/1209040897/Web+Installer">Web Installer Documenation</a>]]></Text>
        </Control>

        <Control Id="documentAPICreation" CheckBoxValue="[CREATE_DOCUMENTAPI_SITE]" Type="CheckBox" X="35" Y="71" Height="15" Width="110" Text="{\TahomaNormal}Document API Host" Property="CREATE_DOCUMENTAPI_SITE"  />
        <Control Id="documentApiDnsTextBox" Text="[DOCUMENTAPI_DNS_ENTRY]" Type="Edit" X="145" Y="71"  Height="17" Width="215" Property="DOCUMENTAPI_DNS_ENTRY"  >
          <Condition Action="enable">CREATE_DOCUMENTAPI_SITE="1"</Condition>
          <Condition Action="disable"><![CDATA[CREATE_DOCUMENTAPI_SITE<>"1"]]></Condition>
        </Control>

        <Control Id="verifyCreation" CheckBoxValue="[CREATE_VERIFY_SITE]" Type="CheckBox" X="35" Y="91"  Height="15" Width="110" Text="{\TahomaNormal}Verify Host" Property="CREATE_VERIFY_SITE" />
        <Control Id="idsVerifyDnsTextBox" Text="[IDSVERIFY_DNS_ENTRY]" Type="Edit" X="145" Y="91"  Height="17" Width="215" Property="IDSVERIFY_DNS_ENTRY"  >
          <Condition Action="enable">CREATE_VERIFY_SITE="1"</Condition>
          <Condition Action="disable"><![CDATA[CREATE_VERIFY_SITE<>"1"]]></Condition>
        </Control>

        <Control Id="appBackendDNSLabel" Type="Text" X="62" Y="114" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}App Backend API Host" >
          <Condition Action="hide">1</Condition> <!-- hide/show prevents ugly display artifact when enabled status is changed-->
          <Condition Action="enable">CREATE_VERIFY_SITE="1"</Condition>
          <Condition Action="disable"><![CDATA[CREATE_VERIFY_SITE<>"1"]]></Condition>
          <Condition Action="show">1</Condition> 
        </Control>
        <Control Id="appBackendDNSTextBox" Type="Edit" X="160" Y="111" Text="[APPBACKEND_DNS_ENTRY]"  Height="17" Width="200" Property="APPBACKEND_DNS_ENTRY"  >
          <Condition Action="enable">CREATE_VERIFY_SITE="1"</Condition>
          <Condition Action="disable"><![CDATA[CREATE_VERIFY_SITE<>"1"]]></Condition>
        </Control>

        <Control Id="winAuthCreation" CheckBoxValue="[CREATE_WINDOWS_AUTHORIZATION_SITE]" Type="CheckBox" X="50" Y="131"  Height="15" Width="110" Text="{\TahomaNormal}Windows Auth Host" Property="CREATE_WINDOWS_AUTHORIZATION_SITE"  >
          <Condition Action="enable">CREATE_VERIFY_SITE="1"</Condition>
          <Condition Action="disable"><![CDATA[CREATE_VERIFY_SITE<>"1"]]></Condition>
        </Control>
        <Control Id="winAuthDnsTextBox" Text="[WINDOWSAUTHORIZATION_DNS_ENTRY]" Type="Edit" X="160" Y="131"  Height="17" Width="200" Property="WINDOWSAUTHORIZATION_DNS_ENTRY"  >
          <Condition Action="enable">CREATE_WINDOWS_AUTHORIZATION_SITE AND CREATE_VERIFY_SITE="1"</Condition>
          <Condition Action="disable"><![CDATA[CREATE_WINDOWS_AUTHORIZATION_SITE<>"1" OR CREATE_VERIFY_SITE<>"1"]]></Condition>
        </Control>

        <Control Id="forceRedactionTypeTextBox" CheckBoxValue="[FORCE_REDACTION_TYPE_TO_BE_SET]" Type="CheckBox" X="50" Y="147"  Height="15" Width="110" Text="{\TahomaNormal}Force Redaction Type" Property="FORCE_REDACTION_TYPE_TO_BE_SET"  >
          <Condition Action="enable">CREATE_VERIFY_SITE="1"</Condition>
          <Condition Action="disable"><![CDATA[CREATE_VERIFY_SITE<>"1"]]></Condition>
        </Control>

        <Control Id="userNameLabel" Type="Text" X="35" Y="174" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}User Name" />
        <Control Id="userNameTextBox" Text="[APPPOOL_USER_NAME]" Type="Edit" X="130" Y="171"  Height="17" Width="230" Property="APPPOOL_USER_NAME"  />

        <Control Id="passwordLabel" Type="Text" X="35" Y="194" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Password" />
        <Control Id="passwordTextBox" Password="yes" Text="[APPPOOL_USER_PASSWORD]" Type="Edit" X="130" Y="191"  Height="17" Width="230" Property="APPPOOL_USER_PASSWORD"  />

        <Control Id="domainLabel" Type="Text" X="35" Y="214" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Domain" />
        <Control Id="domainTextBox" Text="[APPPOOL_USER_DOMAIN]" Type="Edit" X="130" Y="211"  Height="17" Width="230" Property="APPPOOL_USER_DOMAIN"  />

        <Control Id="databaseServerLabel" Type="Text" X="35" Y="234" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Database Server" />
        <Control Id="databaseServerTextBox" Text="[DATABASE_SERVER]" Type="Edit" X="130" Y="231"  Height="17" Width="230" Property="DATABASE_SERVER"  />

        <Control Id="databaseNameLabel" Type="Text" X="35" Y="254" Height="17" Width="95" Transparent="yes" Text="{\TahomaNormal}Database Name" />
        <Control Id="databaseNameTextBox" Text="[DATABASE_NAME]" Type="Edit" X="130" Y="251"  Height="17" Width="230" Property="DATABASE_NAME"  />

		<Control Id="documentAPIConfigurationLabel" Type="Text" X="35" Y="274" Height="17" Width="105" Transparent="yes" Text="{\TahomaNormal}DocumentAPI Configuration" />
		<Control Id="documentAPIConfigurationTextBox" Text="[DOCUMENTAPI_CONFIGURATION]" Type="Edit" X="140" Y="271"  Height="17" Width="230" Property="DOCUMENTAPI_CONFIGURATION"  />

		<Control Id="verificationConfigurationLabel" Type="Text" X="35" Y="294" Height="17" Width="105" Transparent="yes" Text="{\TahomaNormal}Verification Configuration" />
		<Control Id="verificationConfigurationTextBox" Text="[VERIFICATION_CONFIGURATION]" Type="Edit" X="140" Y="291"  Height="17" Width="230" Property="VERIFICATION_CONFIGURATION"  />

        <Control Id="Validation" Text="Validate Entries" Type="PushButton" X="33" Y="323" Width="100" Height="17">
          <Publish Event="DoAction" Value="ValidateSiteConfiguration">1</Publish>
        </Control>


        <Control Id="proceedButton" Type="PushButton" Text="[Proceed]" Height="32" Width="111" X="80" Y="363" Bitmap="yes">
          <!--Executes the c# custom actions BEFORE running any of the other code in Product.
          Ideally this would execute after, but I do not currently know how to do this-->
          <Publish Event="DoAction" Value="ModifyWebConfig">1</Publish>
          <Publish Event="DoAction" Value="UpdateAppSettings">1</Publish>
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>

        <Control Id="cancelButton" Type="PushButton" Text="[Cancel]" Height="32" Width="111" X="195" Y="363" Cancel="yes" Bitmap="yes">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>
      </Dialog>
    </UI>

    <InstallUISequence>
      <Show Dialog="UserRegDialog" After="SetupDialog" />
    </InstallUISequence>
  </Fragment>

  <Fragment>
    <Binary Id="CustomActionBinary" SourceFile="$(var.WebInstallerCustomActions.TargetDir)$(var.WebInstallerCustomActions.TargetName).CA.dll"/>
    <CustomAction Id="ModifyWebConfig" BinaryKey="CustomActionBinary" DllEntry="ModifyWebConfig"  />
    <CustomAction Id="UpdateAppSettings" BinaryKey="CustomActionBinary" DllEntry="UpdateAppSettings"  />
    <CustomAction Id="UpdateAngularSettings" BinaryKey="CustomActionBinary" DllEntry="UpdateAngularSettings"  />
    <CustomAction Id="ValidateSiteConfiguration" BinaryKey="CustomActionBinary" DllEntry="ValidateSiteConfiguration"  />
  </Fragment>
</Wix>
