<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Extract.ReportViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Extract.ReportViewer.Properties.Settings>
      <setting name="OpenReportState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="OpenReportSize" serializeAs="String">
        <value>300, 300</value>
      </setting>
      <setting name="OpenReportLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ReportViewerState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="ReportViewerSize" serializeAs="String">
        <value>300, 300</value>
      </setting>
      <setting name="ReportViewerLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="OpenReportSplitterDistance" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OpenReportUsePersistedSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReportViewerUsePersistedSettings" serializeAs="String">
        <value>False</value>
      </setting>
    </Extract.ReportViewer.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
