<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Extract.DataEntry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Extract.DataEntry.Properties.Settings>
            <setting name="DataEntryPanelFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="HighlightConfidenceBoundary" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseType" serializeAs="String">
                <value>System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.115.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139</value>
            </setting>
            <setting name="LocalDataSource" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledControls" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledValidationControls" serializeAs="String">
                <value />
            </setting>
            <setting name="SkipValidationIfDocTaggedAs" serializeAs="String">
                <value />
            </setting>
            <setting name="GCFrequency" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="ControlFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TooltipFontSize" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="SupportsNoUILoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoUILoadConfig" serializeAs="String">
                <value />
            </setting>
        </Extract.DataEntry.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
