<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Extract.Utilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Extract.Utilities.Properties.Settings>
            <setting name="SecureDeleteAllSensitiveFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecureDeleter" serializeAs="String">
                <value>Extract.Utilities.SecureFileDeleters.DoD5220E</value>
            </setting>
        </Extract.Utilities.Properties.Settings>
    </applicationSettings>
</configuration>