<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="IDSVerify">
            <Component Id="cmpFC88388D5CCDC50C2B6298BB3C6E2931" Guid="{CAD62DBF-B571-45F9-BA40-32746A3666CC}">
                <File Id="fil28D407753DAD61BA50ADD2CAF4932580" KeyPath="yes" Source="$(var.BasePath)\3rdpartylicenses.txt" />
            </Component>
            <Component Id="cmp6215A1CCE807A58237DBDB282AFAEE1B" Guid="{8B0F522B-1645-4987-A69A-E6BB44788092}">
                <File Id="fil95FC88D10133BC3C80A3F93A86315B2C" KeyPath="yes" Source="$(var.BasePath)\5.82666482c0ec4cd58048.js" />
            </Component>
            <Component Id="cmp0CCD325A97B9244B4E715A52B575B373" Guid="{E09863AB-2143-4729-87D4-F3627A42C97A}">
                <File Id="filDCF13C0ACD97862D9C3F702AD878A3A2" KeyPath="yes" Source="$(var.BasePath)\color.c7a33805ffda0d32bd2a.png" />
            </Component>
            <Component Id="cmpDB5E2ACA5297CD9CA0AE31A96EF49D0B" Guid="{FAC3BB51-2DCF-4FBC-B16C-1FA6726B44CC}">
                <File Id="fil1A55154A089289DBE6278629DB467BA1" KeyPath="yes" Source="$(var.BasePath)\fontawesome-webfont.674f50d287a8c48dc19b.eot" />
            </Component>
            <Component Id="cmp1765E2666E90859E0E37C6AB9DD7DC49" Guid="{A7C27CCC-613E-4E74-A1B6-52E65E4E10E1}">
                <File Id="fil3E2CA717563037AF7831D3807D82DBEE" KeyPath="yes" Source="$(var.BasePath)\fontawesome-webfont.912ec66d7572ff821749.svg" />
            </Component>
            <Component Id="cmpD323A0ECD4A41F2D55E9BFADEA622B7D" Guid="{5D5C68CD-C8F7-41AB-9E06-D2E3450CD378}">
                <File Id="fil1398F189B6AF9CC02787B52730920E95" KeyPath="yes" Source="$(var.BasePath)\fontawesome-webfont.af7ae505a9eed503f8b8.woff2" />
            </Component>
            <Component Id="cmp5F354B56100C607C974360FEFE1A532B" Guid="{5CA21B19-B9DE-4B37-9C6D-98C8DF25AEB0}">
                <File Id="fil3836649001F3AF5BBB218C6234FC224E" KeyPath="yes" Source="$(var.BasePath)\fontawesome-webfont.b06871f281fee6b241d6.ttf" />
            </Component>
            <Component Id="cmp174DD590446D8DFC764E757A7D45832D" Guid="{4FB01F44-9992-495F-8106-A6E2EB25523F}">
                <File Id="fil92969018C10E6560706A10AE187554EB" KeyPath="yes" Source="$(var.BasePath)\fontawesome-webfont.fee66e712a8a08eef580.woff" />
            </Component>
            <Component Id="cmpFA5B36CFE3FD005DABB3A274281B2FF8" Guid="{5FD2A5CE-4D02-496B-8187-71764D1005ED}">
                <File Id="filBAE17485B2F9491DFFCE2ED0A9EF2F81" KeyPath="yes" Source="$(var.BasePath)\hue.0614c27197fc3ce572e1.png" />
            </Component>
            <Component Id="cmp28B490AF6E01AE3010475B43CA951D23" Guid="{07C9E174-0F7D-420C-8DEF-BF3BC19CB774}">
                <File Id="filA3159CB8CB514898EC4368DE24B8C30F" KeyPath="yes" Source="$(var.BasePath)\index.html" />
            </Component>
            <Component Id="cmp74C33F4A3050933CDA2CEFA43AD2B85E" Guid="{096B8EAF-2FBF-4907-830E-80C9BEEE0E7B}">
                <File Id="fil57826AA245C2F92AA9E75044215C917E" KeyPath="yes" Source="$(var.BasePath)\line.567f57385ea3dde2c9ae.gif" />
            </Component>
            <Component Id="cmp26DC31C4A2EBB90B6B19E23EAEF15961" Guid="{6EB80D7D-B9C0-4B63-A6B1-879B1BE23714}">
                <File Id="fil2D319589CFEFCFD6DBC63781AECADF13" KeyPath="yes" Source="$(var.BasePath)\loading.8732a6660b528fadfaeb.gif" />
            </Component>
            <Component Id="cmpAB81D4754E69C8012DEC082CEF7B519F" Guid="{65B81BC7-8088-4B72-BF83-AE1C221C4C8E}">
                <File Id="fil81D1FC22E9167F1B627C12B30F7D56E7" KeyPath="yes" Source="$(var.BasePath)\main.f7c425d0740c740c000e.js" />
            </Component>
            <Component Id="cmpAC4D97F0934C7133714A5EF2191CB7E1" Guid="{847A1539-FC6B-4762-8E96-8293C8FDC74A}">
                <File Id="fil889E43EF348E6FC5759DB025A89A8DAD" KeyPath="yes" Source="$(var.BasePath)\password-meter.d59e6dc2616c53ce8e77.png" />
            </Component>
            <Component Id="cmpF94B16355857FC3A964ED22ED0C3CF41" Guid="{003AD324-ACB2-4DB3-82D5-72AB60D42246}">
                <File Id="fil47EDC2DE683CC4BBB57A10831599E17C" KeyPath="yes" Source="$(var.BasePath)\pdfjsWorker.bb9d06d887d27d891f58.js" />
            </Component>
            <Component Id="cmp7B94AC045A1AA43A1E72E0832D544665" Guid="{6D27E522-87C1-4134-9506-D425770B9028}">
                <File Id="fil3A6625CAE2CDA822E68CD117C333EEC1" KeyPath="yes" Source="$(var.BasePath)\polyfills.1062c6cc61bd366c428d.js" />
            </Component>
            <Component Id="cmp3B9BECB1C05E96E1013FA82DAAD8EA8E" Guid="{4CC767E4-2950-4FCC-988A-9D140EEA2D4A}">
                <File Id="fil919DA66FA544F5FFE08188992D833D98" KeyPath="yes" Source="$(var.BasePath)\roboto-v15-latin-regular.16e1d930cf13fb7a9563.woff" />
            </Component>
            <Component Id="cmp9B0D301E524CDBCDCAE6E10D3A32601C" Guid="{E6CCA9F9-2297-4BE9-ADE3-CCCB6E1EECD8}">
                <File Id="fil70E5382CF7FE448194AFD4FE872DA473" KeyPath="yes" Source="$(var.BasePath)\roboto-v15-latin-regular.38861cba61c66739c145.ttf" />
            </Component>
            <Component Id="cmp93AD3A7B724EA6C90CFD046BC97849E7" Guid="{A9DCB7AE-83B3-410F-83C0-E2DA3384EFD0}">
                <File Id="filD7DDFAFF22009319D27D91FE9774463B" KeyPath="yes" Source="$(var.BasePath)\roboto-v15-latin-regular.3d3a53586bd78d1069ae.svg" />
            </Component>
            <Component Id="cmp046DFB301106E477F3F6E093818C6445" Guid="{1CC37A8C-8EFA-4EBB-B480-F33DE5A29FDF}">
                <File Id="fil6EEC563EB9C0B1E7C95277BA03BB107E" KeyPath="yes" Source="$(var.BasePath)\roboto-v15-latin-regular.7e367be02cd17a96d513.woff2" />
            </Component>
            <Component Id="cmp9DD1454DE80F94B5D175491D3B610611" Guid="{A81D1B09-59CA-430E-B5B3-BD35EF36D147}">
                <File Id="filAD1D490DAE3A7B24122DB7B4718D7625" KeyPath="yes" Source="$(var.BasePath)\roboto-v15-latin-regular.9f916e330c478bbfa2a0.eot" />
            </Component>
            <Component Id="cmpEED9ED8545FE77B72E0B867D2720B594" Guid="{B27D3130-F8D3-499E-AAE8-0A2C65698F26}">
                <File Id="fil716938688CB20A6110263E8515D7653B" KeyPath="yes" Source="$(var.BasePath)\rotate_right.612f2fbaffb5315e3f06.png" />
            </Component>
            <Component Id="cmp7AE1AE3D6158061076852EFF35CD30D3" Guid="{4696435B-2E1E-45BA-860C-5D3EFFDF2CF7}">
                <File Id="fil2237EE8DEC83A9E137EEDB5165D4934A" KeyPath="yes" Source="$(var.BasePath)\rotating-arrows-circle.d99824241b174f9c6ccf.png" />
            </Component>
            <Component Id="cmp846C6F92DBB3D523802294BE3D004778" Guid="{8BC011FF-852A-491B-9A30-B30523F97A1E}">
                <File Id="filD37C271E388510C6EE00CF690EFE0C8F" KeyPath="yes" Source="$(var.BasePath)\runtime.8e9334a8e5ad3da50a27.js" />
            </Component>
            <Component Id="cmp089C88D873A2794A14EAA08ABB538DAE" Guid="{D7FD2248-9386-4A65-A3F8-BF3FFDE31AAA}">
                <File Id="fil32F71C5CC46BA5621ACE63C5B781485D" KeyPath="yes" Source="$(var.BasePath)\scripts.f81216bfcddc71a4b630.js" />
            </Component>
            <Component Id="cmp6DB5BB937EB0983A6B4593B89879DE40" Guid="{A69FDC58-1B7B-4B78-BF95-4BCB67C525AB}">
                <File Id="fil2E0D012574603054985D4C5F9A56CA62" KeyPath="yes" Source="$(var.BasePath)\slider_handles.1868e2550c9853a938a6.png" />
            </Component>
            <Component Id="cmp2ADFF979B480E2BBCA438E75417F9636" Guid="{8B0E22BF-0EE0-4817-9073-1C3CC8883F79}">
                <File Id="fil487F19CBB4D11FDB3D217EEDE770C0E9" KeyPath="yes" Source="$(var.BasePath)\styles.719b6b0d693c9eded0a7.css" />
            </Component>
            <Component Id="cmp69E80F1E4F99C2111F35FDA166C9C3BB" Guid="{44B23D25-D8F9-470E-8ABA-1C1097FEEA67}">
                <File Id="fil5AD215AF3B9A5AC400E4163DE788E115" KeyPath="yes" Source="$(var.BasePath)\web.config" />
            </Component>
            <Directory Id="dir03CDEC96AF9C8EB55AC4BB996E94CD65" Name="assets">
                <Directory Id="dir76699E334A23ED059D6442664EDF5FCF" Name="css">
                    <Component Id="cmp098C082D04A04A3597BA03EA69BBE1DE" Guid="{2DBEDF73-2BEC-43AA-8AF5-2E8D38A9F67A}">
                        <File Id="fil6E36C81344512343A6F0EFAEC5D97445" KeyPath="yes" Source="$(var.BasePath)\assets\css\font-awesome.css" />
                    </Component>
                    <Component Id="cmpC45BE800B1ADE7E161D71FB99754A844" Guid="{57F5FDE0-F822-4BB0-929D-124D076990B6}">
                        <File Id="filFCB1EC57F40BD872E8783237B03B8F77" KeyPath="yes" Source="$(var.BasePath)\assets\css\jquery-ui-selectable.css" />
                    </Component>
                    <Component Id="cmp6D0B889510CBDC53E4D00B63DDB7DD15" Guid="{B5A189E3-1B03-442B-A789-FDD5213840BE}">
                        <File Id="filBCB65F83E01FD71707762A46C071F64A" KeyPath="yes" Source="$(var.BasePath)\assets\css\svg.select.css" />
                    </Component>
                    <Directory Id="dir6C3C0DBE0E18F98C0BD537F07298CDAE" Name="images">
                        <Component Id="cmp907B1F28668C532D1038F6F057DCADF7" Guid="{E01F69C1-3496-4F33-B84B-CF6D01928542}">
                            <File Id="filFB00925F5C2D52ECA80E25B689FDA9F7" KeyPath="yes" Source="$(var.BasePath)\assets\css\images\rotate.png" />
                        </Component>
                        <Component Id="cmp291B49DDEFBC5313B74056A6B195456D" Guid="{D51CDBBC-6254-465D-82E9-30B5317F013E}">
                            <File Id="fil383941783FC48CDED566B1F6DC9131BF" KeyPath="yes" Source="$(var.BasePath)\assets\css\images\rotate_right.png" />
                        </Component>
                        <Component Id="cmpF31A73127C0A1F4C6094D5EED197D346" Guid="{B3F590AC-B820-4947-862C-B6503CA322A3}">
                            <File Id="fil450B00CF7A9D38FAE0ADAE4C08606832" KeyPath="yes" Source="$(var.BasePath)\assets\css\images\rotating-arrows-circle.png" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir3F2389981CD83FCB070B89A5B4E3F590" Name="fonts">
                    <Component Id="cmp32EA6796AE6518C12D2138CE6B7F58BA" Guid="{2FA9D3C3-1016-4ED3-9161-54E95E4524F0}">
                        <File Id="filAC914EE01C4EE41EE247B6F98C8768EC" KeyPath="yes" Source="$(var.BasePath)\assets\fonts\fontawesome-webfont.eot" />
                    </Component>
                    <Component Id="cmpA2DFFEB43E26795DEAF9F9D80842A753" Guid="{4BCF79A3-A564-450A-A408-5D985F8878A0}">
                        <File Id="filBCBB5707409C52FD6C46357C041F54F5" KeyPath="yes" Source="$(var.BasePath)\assets\fonts\fontawesome-webfont.svg" />
                    </Component>
                    <Component Id="cmpC489805C975BF1B201D9F9D9B43E766C" Guid="{D92BD182-9941-423B-86EC-B0205FD4C3EC}">
                        <File Id="fil900940D9D72B620FF892D1DB045CC8EA" KeyPath="yes" Source="$(var.BasePath)\assets\fonts\fontawesome-webfont.ttf" />
                    </Component>
                    <Component Id="cmp9030005052EB1754C30CC942A6A23FD2" Guid="{9DF115CC-F04F-49A2-8AA7-BE7F2D195837}">
                        <File Id="fil19E7C8C667ABFA554308866CAA9060AE" KeyPath="yes" Source="$(var.BasePath)\assets\fonts\fontawesome-webfont.woff" />
                    </Component>
                    <Component Id="cmp7F2BD5FBCF2DEB92213F000D7C68BFCD" Guid="{2CD482B9-315D-4C1C-B2F1-ED81ADCF1831}">
                        <File Id="filA75ABACC18BC437E303055CDA7BA0715" KeyPath="yes" Source="$(var.BasePath)\assets\fonts\fontawesome-webfont.woff2" />
                    </Component>
                    <Component Id="cmpD5B6F1380315CF32FCA68DFC92882931" Guid="{5AD6834F-9B32-45DD-90E0-79EFFE772560}">
                        <File Id="fil71A97C79B4FD303188E7F54EDC6419C7" KeyPath="yes" Source="$(var.BasePath)\assets\fonts\FontAwesome.otf" />
                    </Component>
                </Directory>
                <Directory Id="dir2A7F3F1F33A868D3957AAE10821D7257" Name="icon">
                    <Component Id="cmp67CE5959AEC5307EEB82EE1C9D40DAE0" Guid="{8F2243CA-B061-46ED-BB4C-D1EFABF77F6C}">
                        <File Id="filA40F7BE43D1028BEC9FCD62C506DA421" KeyPath="yes" Source="$(var.BasePath)\assets\icon\favicon.ico" />
                    </Component>
                </Directory>
                <Directory Id="dirC76420A44CBCE108D5EC12F76BD6532A" Name="img">
                    <Component Id="cmp2841E1FC959F1539DEDA9D5308005B7B" Guid="{414CE4F6-A500-4F4C-9C92-2C0B656F42B5}">
                        <File Id="fil031409090E587FF75D1801FE295E15AB" KeyPath="yes" Source="$(var.BasePath)\assets\img\app_logo.png" />
                    </Component>
                    <Component Id="cmp04B184C81684D9FFA167718879197B24" Guid="{9094077B-F6CD-48DC-A1B7-8F7BB22B7DFF}">
                        <File Id="filE35751AECAA01DC0AFF495AD9912728D" KeyPath="yes" Source="$(var.BasePath)\assets\img\es-dashboard.png" />
                    </Component>
                    <Component Id="cmpECC4AABFA751CF58E1B9193283ACA8F5" Guid="{5EF341B1-E60D-40BB-8F94-C75812458CA2}">
                        <File Id="fil65066E6E1578A2A2D541584F83EF742A" KeyPath="yes" Source="$(var.BasePath)\assets\img\pin.png" />
                    </Component>
                    <Component Id="cmpADB79CD442766B33E1456F4D615AC68C" Guid="{7E56441B-F930-4316-B5FC-3AC9ED6D5FF5}">
                        <File Id="filA8F090DE9CD5DDFB2976AB806D8EECDD" KeyPath="yes" Source="$(var.BasePath)\assets\img\unpin.png" />
                    </Component>
                    <Directory Id="dirE299D1D62100BBCE428B85448F3F0F8F" Name="app">
                        <Directory Id="dir98E622446DFEA4210C149F2CC733BBC2" Name="profile">
                            <Component Id="cmp2590506E4BE81B950E68FDA695731698" Guid="{312BBD8C-92FC-4F06-AF13-66AE3D2585EA}">
                                <File Id="filFB5A4C3942BC73675F7B5827DA781EDC" KeyPath="yes" Source="$(var.BasePath)\assets\img\app\profile\user.png" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dir8D85DD05F51A22807F8D0C2AB712C5CE" Name="js">
                    <Component Id="cmp254F63C5DCDE013341CF03B0CD9EDBC8" Guid="{A2C401E0-075F-481A-B298-03A9195CEA44}">
                        <File Id="fil07B3D353CF84E976028EDD0389632363" KeyPath="yes" Source="$(var.BasePath)\assets\js\jquery-ui-selectable.min.js" />
                    </Component>
                    <Component Id="cmp7362975FC847520A5E67F158C26D73ED" Guid="{264AC3C7-239B-441C-BDA2-F76566409F38}">
                        <File Id="fil6E98E6F90CB830FFAF41495812FB84A5" KeyPath="yes" Source="$(var.BasePath)\assets\js\screenfull.js" />
                    </Component>
                    <Component Id="cmp5D27885435C9D3E1844F6EEE0AC9627A" Guid="{4B5BED47-F35F-49C8-8E6A-629CBFFC2DAE}">
                        <File Id="filA73913FC01C2F1C8B983CEE8B9717239" KeyPath="yes" Source="$(var.BasePath)\assets\js\svg.min.js" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir2C74298E03A68DBAEF5F7CFA20164239" Name="json">
                <Component Id="cmp9394CF31F1C1AAD49D9CD1A3856213D2" Guid="{7755B1BE-CC12-41D2-A2D5-ABAD7187FDFB}">
                    <File Id="fil919B5A35095E35F6FCA2D19C74CA28D5" KeyPath="yes" Source="$(var.BasePath)\json\pdf.worker.min.js" />
                </Component>
                <Component Id="cmpD19FBE662873123A5DB619D4135866A9" Guid="{83128736-2F71-495F-9955-3BBF784B269C}">
                    <File Id="filF4AE553007986456ABD9128CE6BF5C04" KeyPath="yes" Source="$(var.BasePath)\json\settings.json" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpFC88388D5CCDC50C2B6298BB3C6E2931" />
            <ComponentRef Id="cmp6215A1CCE807A58237DBDB282AFAEE1B" />
            <ComponentRef Id="cmp0CCD325A97B9244B4E715A52B575B373" />
            <ComponentRef Id="cmpDB5E2ACA5297CD9CA0AE31A96EF49D0B" />
            <ComponentRef Id="cmp1765E2666E90859E0E37C6AB9DD7DC49" />
            <ComponentRef Id="cmpD323A0ECD4A41F2D55E9BFADEA622B7D" />
            <ComponentRef Id="cmp5F354B56100C607C974360FEFE1A532B" />
            <ComponentRef Id="cmp174DD590446D8DFC764E757A7D45832D" />
            <ComponentRef Id="cmpFA5B36CFE3FD005DABB3A274281B2FF8" />
            <ComponentRef Id="cmp28B490AF6E01AE3010475B43CA951D23" />
            <ComponentRef Id="cmp74C33F4A3050933CDA2CEFA43AD2B85E" />
            <ComponentRef Id="cmp26DC31C4A2EBB90B6B19E23EAEF15961" />
            <ComponentRef Id="cmpAB81D4754E69C8012DEC082CEF7B519F" />
            <ComponentRef Id="cmpAC4D97F0934C7133714A5EF2191CB7E1" />
            <ComponentRef Id="cmpF94B16355857FC3A964ED22ED0C3CF41" />
            <ComponentRef Id="cmp7B94AC045A1AA43A1E72E0832D544665" />
            <ComponentRef Id="cmp3B9BECB1C05E96E1013FA82DAAD8EA8E" />
            <ComponentRef Id="cmp9B0D301E524CDBCDCAE6E10D3A32601C" />
            <ComponentRef Id="cmp93AD3A7B724EA6C90CFD046BC97849E7" />
            <ComponentRef Id="cmp046DFB301106E477F3F6E093818C6445" />
            <ComponentRef Id="cmp9DD1454DE80F94B5D175491D3B610611" />
            <ComponentRef Id="cmpEED9ED8545FE77B72E0B867D2720B594" />
            <ComponentRef Id="cmp7AE1AE3D6158061076852EFF35CD30D3" />
            <ComponentRef Id="cmp846C6F92DBB3D523802294BE3D004778" />
            <ComponentRef Id="cmp089C88D873A2794A14EAA08ABB538DAE" />
            <ComponentRef Id="cmp6DB5BB937EB0983A6B4593B89879DE40" />
            <ComponentRef Id="cmp2ADFF979B480E2BBCA438E75417F9636" />
            <ComponentRef Id="cmp69E80F1E4F99C2111F35FDA166C9C3BB" />
            <ComponentRef Id="cmp098C082D04A04A3597BA03EA69BBE1DE" />
            <ComponentRef Id="cmpC45BE800B1ADE7E161D71FB99754A844" />
            <ComponentRef Id="cmp6D0B889510CBDC53E4D00B63DDB7DD15" />
            <ComponentRef Id="cmp907B1F28668C532D1038F6F057DCADF7" />
            <ComponentRef Id="cmp291B49DDEFBC5313B74056A6B195456D" />
            <ComponentRef Id="cmpF31A73127C0A1F4C6094D5EED197D346" />
            <ComponentRef Id="cmp32EA6796AE6518C12D2138CE6B7F58BA" />
            <ComponentRef Id="cmpA2DFFEB43E26795DEAF9F9D80842A753" />
            <ComponentRef Id="cmpC489805C975BF1B201D9F9D9B43E766C" />
            <ComponentRef Id="cmp9030005052EB1754C30CC942A6A23FD2" />
            <ComponentRef Id="cmp7F2BD5FBCF2DEB92213F000D7C68BFCD" />
            <ComponentRef Id="cmpD5B6F1380315CF32FCA68DFC92882931" />
            <ComponentRef Id="cmp67CE5959AEC5307EEB82EE1C9D40DAE0" />
            <ComponentRef Id="cmp2841E1FC959F1539DEDA9D5308005B7B" />
            <ComponentRef Id="cmp04B184C81684D9FFA167718879197B24" />
            <ComponentRef Id="cmpECC4AABFA751CF58E1B9193283ACA8F5" />
            <ComponentRef Id="cmpADB79CD442766B33E1456F4D615AC68C" />
            <ComponentRef Id="cmp2590506E4BE81B950E68FDA695731698" />
            <ComponentRef Id="cmp254F63C5DCDE013341CF03B0CD9EDBC8" />
            <ComponentRef Id="cmp7362975FC847520A5E67F158C26D73ED" />
            <ComponentRef Id="cmp5D27885435C9D3E1844F6EEE0AC9627A" />
            <ComponentRef Id="cmp9394CF31F1C1AAD49D9CD1A3856213D2" />
            <ComponentRef Id="cmpD19FBE662873123A5DB619D4135866A9" />
        </ComponentGroup>
    </Fragment>
</Wix>