<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
  xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
  <Fragment>
    
    <Component Id="ExtractDocumentAPI" Guid="{7E4E23D7-362D-4321-824E-20E46BD42E75}" Directory="DocumentAPI">
      <Condition>CREATE_DOCUMENTAPI_SITE = 1</Condition>
      <CreateFolder></CreateFolder>
      <iis:WebSite Id="ExtractDocumentAPI" Description="Extract Document API" Directory="DocumentAPI">
        <iis:WebAddress Id="AllUnassigned2" Header="[DOCUMENTAPI_DNS_ENTRY]" Port="80"/>
        <iis:WebApplication Id="ExtractDocumentAPI" Name="Extract Document API" WebAppPool="ExtractDocumentAPI"></iis:WebApplication>
      </iis:WebSite>
      <iis:WebAppPool 
        Id="ExtractDocumentAPI" 
        Name="Extract Document API" 
        ManagedRuntimeVersion="v4.0" 
        ManagedPipelineMode="Integrated"
        Identity="other"
        User="AppPoolUser"/>
    </Component>

    <Component Id="ExtractRedactionVerify" Guid="{4699E1C0-643A-4EB9-B5D0-71751C321EE2}" Directory="IDSVerify">
      <Condition>CREATE_VERIFY_SITE = 1</Condition>
      <CreateFolder></CreateFolder>
      <iis:WebSite Id="ExtractRedactionVerify" Description="Extract Redaction Verify" Directory="IDSVerify">
        <iis:WebAddress Id="AllUnassigned3" Header="[IDSVERIFY_DNS_ENTRY]" Port="80"/>
        <iis:WebApplication Id="ExtractRedactionVerify" Name="Extract Redaction Verify" WebAppPool="ExtractRedactionVerify"></iis:WebApplication>
      </iis:WebSite>
      <iis:WebAppPool Id="ExtractRedactionVerify" Name="Extract Redaction Verify" ManagedRuntimeVersion="v4.0" ManagedPipelineMode="Integrated"/>
    </Component>

    <Component Id="ExtractAppBackendAPI" Guid="{3AC86481-CCA4-44FB-9406-87E1BE407E9D}" Directory="AppBackendAPI">
      <Condition>CREATE_VERIFY_SITE = 1</Condition>
      <util:User Id="AppPoolUser" CreateUser="no" Name="[APPPOOL_USER_NAME]" Password="[APPPOOL_USER_PASSWORD]" Domain="[APPPOOL_USER_DOMAIN]"></util:User>
      <CreateFolder></CreateFolder>
      <iis:WebSite Id="ExtractAppBackendAPI" Description="Extract App Backend API" Directory="AppBackendAPI">
        <iis:WebAddress Id="AllUnassigned" Header="[APPBACKEND_DNS_ENTRY]" Port="80"/>
        <iis:WebApplication Id="ExtractAppBackendAPI" Name="Extract App Backend API" WebAppPool="ExtractAppBackendAPI"></iis:WebApplication>
      </iis:WebSite>
      <iis:WebAppPool
        Id="ExtractAppBackendAPI"
        Name="Extract App Backend API"
        ManagedRuntimeVersion="v4.0"
        ManagedPipelineMode="Integrated"
        Identity="other"
        User="AppPoolUser"/>
    </Component>

    <Component Id="ExtractAuthorizationAPI" Guid="{71223115-46A4-4B6B-A283-629B9DA5A46C}" Directory="AuthorizationAPI">
      <Condition>CREATE_VERIFY_SITE = 1 AND CREATE_WINDOWS_AUTHORIZATION_SITE = 1</Condition>
      <CreateFolder></CreateFolder>
      <iis:WebSite Id="ExtractAuthorizationAPI" Description="Extract Authorization API" Directory="AuthorizationAPI">
        <iis:WebAddress Id="AllUnassigned4" Header="[WINDOWSAUTHORIZATION_DNS_ENTRY]" Port="80"/>
        <iis:WebApplication Id="ExtractAuthorizationAPI" Name="Extract Authorization API" WebAppPool="ExtractAuthorizationAPI"></iis:WebApplication>
        <iis:WebDirProperties Id="WebProperties" AnonymousAccess="no" WindowsAuthentication="yes" AuthenticationProviders="NTLM,Negotiate"/>
      </iis:WebSite>
      <iis:WebAppPool Id="ExtractAuthorizationAPI" Name="Extract Authorization API" ManagedRuntimeVersion="v4.0" ManagedPipelineMode="Integrated"/>
    </Component>
  </Fragment>
</Wix>