<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="Extract.ErrorHandling"/>
	</extensions>

	<targets async="true">
		<target name="logfile" xsi:type="File" fileName="c:/ProgramData/Extract Systems/Logs/Logsfile.txt" >
			<layout>${exception:format=@}</layout>
		</target>

		<target name="logconsole" xsi:type="Console" />
		<target name="jsonfile" xsi:type="File" filename="c:/ProgramData/Extract Systems/Logs/Logsfile.json" >
			<layout type='JsonLayout'>
				<attribute name='time' layout='${longdate}' />
				<attribute name='level' layout='${level:upperCase=true}'/>
				<attribute name='logger' layout="${logger}" />
				<attribute name='exception' layout='${exception:format=@}' />
			</layout>
		</target>

		<target xsi:type="ExtractElasticSearch" name="elasticLog"
			index="event"
			cloudId="Extract_Experiments:dXMtY2VudHJhbDEuZ2NwLmNsb3VkLmVzLmlvOjQ0MyQ5N2RlOWVkMmQ0ZjU0ZDFhODk5YzM0MGIyZWQ3NzVmMyRhZmFjNDNjZjkyYWE0YzBiYWUyMWI3Mjg1MzEyZTU4Zg=="
			apiKey="TnFRUElZUUJBelhoVzlIQXFOMlo6VGpSS3AxLUdTMXktTkxidEppaWpxUQ==" />

	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<logger name="*" minlevel="Info" writeTo="jsonfile" />
		<logger name="*" minlevel="Info" writeTo="elasticLog" />
	</rules>
</nlog>