<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true">

	<extensions>
		<add assembly="Extract.ErrorHandling"/>
	</extensions>

	<targets async="true">
		<target xsi:type="ExtractElasticSearch" name="alerts"
			index="alerts"
			cloudId="Extract_Experiments:dXMtY2VudHJhbDEuZ2NwLmNsb3VkLmVzLmlvOjQ0MyQ5N2RlOWVkMmQ0ZjU0ZDFhODk5YzM0MGIyZWQ3NzVmMyRhZmFjNDNjZjkyYWE0YzBiYWUyMWI3Mjg1MzEyZTU4Zg=="
			apiKey="TnFRUElZUUJBelhoVzlIQXFOMlo6VGpSS3AxLUdTMXktTkxidEppaWpxUQ==" />

		<target xsi:type="ExtractElasticSearch" name="events"
			index="events"
			cloudId="Extract_Experiments:dXMtY2VudHJhbDEuZ2NwLmNsb3VkLmVzLmlvOjQ0MyQ5N2RlOWVkMmQ0ZjU0ZDFhODk5YzM0MGIyZWQ3NzVmMyRhZmFjNDNjZjkyYWE0YzBiYWUyMWI3Mjg1MzEyZTU4Zg=="
			apiKey="TnFRUElZUUJBelhoVzlIQXFOMlo6VGpSS3AxLUdTMXktTkxidEppaWpxUQ==" />

		<target xsi:type="ExtractElasticSearch" name="environment"
			index="environment-measurements"
			cloudId="Extract_Experiments:dXMtY2VudHJhbDEuZ2NwLmNsb3VkLmVzLmlvOjQ0MyQ5N2RlOWVkMmQ0ZjU0ZDFhODk5YzM0MGIyZWQ3NzVmMyRhZmFjNDNjZjkyYWE0YzBiYWUyMWI3Mjg1MzEyZTU4Zg=="
			apiKey="TnFRUElZUUJBelhoVzlIQXFOMlo6VGpSS3AxLUdTMXktTkxidEppaWpxUQ==" />
	</targets>

	<rules>
		<logger name="alerts" minlevel="Info" writeTo="alerts" />
		<logger name="events" minlevel="Info" writeTo="events" />
		<logger name="environment" minlevel="Info" writeTo="environment" />
	</rules>
</nlog>