<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Extract.DataEntryPrompt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <applicationSettings>
        <Extract.DataEntryPrompt.Properties.Settings>
            <setting name="Field1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field1Validation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field2Validation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field3" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field3Validation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field4" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field4Validation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field5" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field5Validation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field6" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field6Validation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field7" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field7Validation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field8" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field8Validation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field9" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field9Validation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field10" serializeAs="String">
                <value/>
            </setting>
            <setting name="Field10Validation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Extract Systems</value>
            </setting>
            <setting name="OKButtonLabel" serializeAs="String">
                <value>OK</value>
            </setting>
            <setting name="CancelButtonLabel" serializeAs="String">
                <value>Cancel</value>
            </setting>
            <setting name="DataFileName" serializeAs="String">
                <value>DataEntryPrompt.csv</value>
            </setting>
            <setting name="PostEntryCommandLine" serializeAs="String">
                <value/>
            </setting>
            <setting name="PostEntryCommandLineArguments" serializeAs="String">
                <value/>
            </setting>
            <setting name="KeepOpen" serializeAs="String">
                <value>False</value>
            </setting>
        </Extract.DataEntryPrompt.Properties.Settings>
    </applicationSettings>
</configuration>
