<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ErrorFilePath" value="C:\Engineering\ErrorsAndAlerts\AlertManager\AlertManager\MockErrorLogs.txt"/>
		<add key="AlertFilePath" value="C:\Engineering\ErrorsAndAlerts\AlertManager\AlertManager\MockAlerts.txt"/>
		<add key="ElasticSearchCloudId" value="Extract_Experiments:dXMtY2VudHJhbDEuZ2NwLmNsb3VkLmVzLmlvOjQ0MyQ5N2RlOWVkMmQ0ZjU0ZDFhODk5YzM0MGIyZWQ3NzVmMyRhZmFjNDNjZjkyYWE0YzBiYWUyMWI3Mjg1MzEyZTU4Zg=="/>
		<add key="ElasticSearchAPIKey" value="TnFRUElZUUJBelhoVzlIQXFOMlo6VGpSS3AxLUdTMXktTkxidEppaWpxUQ=="/>
		<add key ="ConfigurationWebPath" value="https://cloud.elastic.co/deployments/02e832ba97234d13a0ff9e502c5b86fc/edit"/>
		<add key="ElasticSearchExceptionIndex" value="williamlogs"/>
		<add key="ElasticSearchAlertsIndex" value="ethanalerts"/>
		<add key="ElasticSearchAlertResolutionsIndex" value="ethanalertresolutions"/>
	</appSettings>
</configuration>