<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ErrorFilePath" value="C:\Engineering\ErrorsAndAlerts\AlertManager\AlertManager\MockErrorLogs.txt"/>
		<add key="AlertFilePath" value="C:\Engineering\ErrorsAndAlerts\AlertManager\AlertManager\MockAlerts.txt"/>
	</appSettings>
</configuration>