<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Extract.UtilityApplications.PaginationUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Extract.UtilityApplications.PaginationUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <Extract.UtilityApplications.PaginationUtility.Properties.Settings>
            <setting name="InputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="FileFilter" serializeAs="String">
                <value>*.tif;*.tiff</value>
            </setting>
            <setting name="IncludeSubfolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteProcessedFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcessedFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="InputPageCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RandomizeOutputFileName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreserveSubFoldersInOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoInsertDocumentBoundaries" serializeAs="String">
                <value>True</value>
            </setting>
        </Extract.UtilityApplications.PaginationUtility.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Extract.UtilityApplications.PaginationUtility.Properties.Settings>
            <setting name="QueryCacheLimit" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFilter" serializeAs="String">
                <value>DataLoad,DataSave,AttributeInitialized,AttributeUpdated,AttributeDeleted,AutoUpdateResult,SwipedText,TooltipNotification,FormattingRuleResult,Undo,Redo,Focus,InputEvent</value>
            </setting>
            <setting name="InputEventFilter" serializeAs="String">
                <value>KeyDown,SystemKeyDown,LeftButtonDown,NonClientLeftButtonDown,MiddleButtonDown,NonClientMiddleButtonDown,RightButtonDown,NonClientRightButtonDown</value>
            </setting>
            <setting name="DisableAutoUpdateQueries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableValidationQueries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PerformanceTesting" serializeAs="String">
                <value>False</value>
            </setting>
        </Extract.UtilityApplications.PaginationUtility.Properties.Settings>
    </applicationSettings>
</configuration>
